<!--{subtemplate common/we54_header}-->

                
                
               
                
			</div>
		</div>

		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onClick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->

				<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
					<!--{if $_G['uid']}-->
					<ul>
						<!--{loop $_G['setting']['mynavs'] $nav}-->
							<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
								<li>$nav[code]</li>
							<!--{/if}-->
						<!--{/loop}-->
					</ul>
					<!--{elseif $_G[connectguest]}-->
						<div class="ptm pbw hm">
							{lang connect_fill_profile_to_visit}
						</div>
					<!--{else}-->
						<div class="ptm pbw hm">
							{lang my_nav_login}
						</div>
					<!--{/if}-->
				</div>
		<!--{/if}-->

		

		<!--{hook/global_header}-->
	<!--{/if}-->

	<div id="wp" class="wp">
    <div class="person_name">
	<span>$space['username']µÄ¿Õ¼ä($space['field1'])</span>
	</div>
 <style>
 #ct { min-height:650px;}
 body{ background:#FFFFFF url(/template/we54/images/home_top_bg.jpg) repeat-x top;}
 .person_name { width:1000px; height:84px; background:url(/template/we54/images/home_top_banner.jpg) no-repeat; margin:auto;}
.person_name span { line-height:80px; font-size:20px; padding-left:15px;}
 </style>