<!--{subtemplate common/we54_header}-->

                <div class="top_ad_01">
                    <a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="1000" height="70" border="0"/></a>
                </div> 
                
                <div class="top_ad">
                    <div class="top_ad_02"><a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="200" height="70" border="0"/></a></div>	
                    <div class="top_ad_03"><a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="590" height="70" border="0"/></a></div>
                    <div class="top_ad_04"><a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="200" height="70" border="0"/></a></div>
                </div>
                
                <div class="nav_st">
                    <div class="nav_second">
                        <div class="bankuai" id="bk" onMouseOver="this.style.background='url(/template/we54/images/bk_02.jpg) no-repeat'" onMouseOut="this.style.background='url(/template/we54/images/bk_01.jpg) no-repeat'"></div>
                    	<div class="nav_nav">
                    		<li <!--{if empty($_G['forum']['name'])}-->style=" background:url(/template/we54/images/size_bg.jpg) repeat-x;"<!--{/if}-->><a href="./">首页</a></li>
                            <!--{loop $_G['cache']['forums'] $bforum}-->
                                <!--{if $bforum['fup'] == $_G['forum']['fup'] && $bforum['status']}-->
                                    <li <!--{if $_G['forum']['name'] == $bforum['name']}-->style=" background:url(/template/we54/images/size_bg.jpg) repeat-x;"<!--{/if}-->><a href="forum.php?mod=forumdisplay&fid=$bforum[fid]">$bforum['name']</a></li>
                                <!--{/if}-->
                            <!--{/loop}-->
                        </div>
                        <!--{if $_G['setting']['search']}-->
                        <form id="scbar_form" method="{if $_G[fid] && !empty($searchparams[url])}get{else}post{/if}" autocomplete="off" onSubmit="searchFocus($('scbar_txt'))" action="{if $_G[fid] && !empty($searchparams[url])}$searchparams[url]{else}search.php?searchsubmit=yes{/if}" target="_blank">
                            <input type="hidden" name="mod" id="scbar_mod" value="forum" />
                            <input type="hidden" name="formhash" value="{FORMHASH}" />
                            <input type="hidden" name="srchtype" value="title" />
                            <input type="hidden" name="srhfid" value="$_G[fid]" />
                            <input type="hidden" name="srhlocality" value="$_G['basescript']::{CURMODULE}" />
                            <!--{if !empty($searchparams[params])}-->
                                <!--{loop $searchparams[params] $key $value}-->
                                <!--{eval $srchotquery .= '&' . $key . '=' . rawurlencode($value);}-->
                                <input type="hidden" name="$key" value="$value" />
                                <!--{/loop}-->
                                <input type="hidden" name="source" value="discuz" />
                                <input type="hidden" name="fId" id="srchFId" value="$_G[fid]" />
                                <input type="hidden" name="q" id="cloudsearchquery" value="" />
                            <!--{/if}-->
                    
                            <input style="border:none;" type="text" name="srchtxt" id="scbar_txt" value="{lang enter_content}" onFocus="if (value =='{lang enter_content}'){value =''}" onBlur="if (value ==''){value='{lang enter_content}'}" class="ggg" autocomplete="off" x-webkit-speech speech />
                            <button style="border:none;" type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="aaa" value="true"></button>
                        </form>
                        <!--{/if}-->
                    </div>
                
                    <div class="nav_three" id="ycbk"><!--三级导航-->
                        <ul>
                            <li><a href="/forum-743-1.html" target="_blank">大连你好</a></li>
                            <li><a href="/forum-747-1.html" target="_blank">纯粹女人</a></li>
                            <li><a href="/forum-992-1.html" target="_blank">法律咨询</a></li>
                            <li><a href="/forum-898-1.html" target="_blank">欢乐时光</a></li>
                            <li><a href="/forum-940-1.html" target="_blank">非常夜店</a></li>
                            <li><a href="/forum-791-1.html" target="_blank">谈车论驾</a></li>
                            <li><a href="/forum-964-1.html" target="_blank">君子爱财</a></li>
                            <li><a href="/forum-970-1.html" target="_blank">新青年歌友会</a></li>
                            <li><a href="/forum-900-1.html" target="_blank">不惜泡吧</a></li>
                            <li><a href="/forum-974-1.html" target="_blank">妈 妈 团</a></li>
                            <li><a href="/forum-903-1.html" target="_blank">全城热恋 </a></li>
                            <li><a href="/forum-962-1.html" target="_blank">体坛风云</a></li>
                            <li><a href="/forum-968-1.html" target="_blank">教育培训</a></li>
                            <li><a href="/forum-966-1.html" target="_blank">人在旅途</a></li>
                            <li><a href="/forum-959-1.html" target="_blank">好片同享 </a></li>
                            <li><a href="/forum-921-1.html" target="_blank">五四宜家人</a></li>
                            <li><a href="/forum-269-1.html" target="_blank">偶秀偶拍</a></li>
                            <li><a href="/forum-993-1.html" target="_blank">寻医问诊</a></li>
                            <li><a href="/forum-941-1.html" target="_blank">两性咨询</a></li>
                            <li><a href="/forum-909-1.html" target="_blank">买房卖房</a></li>
                            <li><a href="/forum-985-1.html" target="_blank">学 院 派</a></li>
                            <li><a href="/forum-931-1.html" target="_blank">饭统大连</a></li>
                            <li><a href="/forum-705-1.html" target="_blank">淘宝大连街</a></li>
                            <li><a href="/forum-973-1.html" target="_blank">官方版务</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="top_ad_05">
                    <a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="1000" height="90" border="0"/></a>
                </div>
                
			</div>
		</div>

		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onClick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->

				<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
					<!--{if $_G['uid']}-->
					<ul>
						<!--{loop $_G['setting']['mynavs'] $nav}-->
							<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
								<li>$nav[code]</li>
							<!--{/if}-->
						<!--{/loop}-->
					</ul>
					<!--{elseif $_G[connectguest]}-->
						<div class="ptm pbw hm">
							{lang connect_fill_profile_to_visit}
						</div>
					<!--{else}-->
						<div class="ptm pbw hm">
							{lang my_nav_login}
						</div>
					<!--{/if}-->
				</div>
		<!--{/if}-->

		

		<!--{hook/global_header}-->
	<!--{/if}-->

	<div id="wp" class="wp">