@charset "gb2312";
/* CSS Document */

body		{ background:#FFF url(/template/we54/images/header_bg.jpg) repeat-x top; font-family:"微软雅黑", "宋体";}

/*kaiser*/
#toptb #diy-tg_menu{ margin:-2px 0 0 -18px;}
.xg2 img{ width:763px; height:165px;}
#scbar_txt{ width:149px; font-family:"微软雅黑", "宋体";}
#scbar_btn{ margin:6px 0 0 3px; background:url(/template/we54/images/all_bg.jpg) no-repeat -180px -74px;}

/*通用调图*/

.nav_second,
.nav_three,
.ggg{ background:url(/template/we54/images/all_bg.jpg) no-repeat;}

.zx_nav_bg01,
.zx_nav_bg02,
.zx_nav_bg03,
.zx_nav_bg04  { background:url(/template/we54/por_images/all_bg.jpg) no-repeat;}

#toptb a { padding:0; }


.top_header { width:1000px; height:36px; overflow:hidden;}
.zzz { width:125px; height:36px; float:left;}
.dl_zc { line-height:40px; overflow:hidden; height:36px; float:right; color:#666666;}
.dl_zc a { text-decoration:none; color:#0035a0; float:none;}
.dl_zc span { float:right;}
.dl_zc i { float:right;}
.nav 		{ width:90px; height:28px; float:right; position:relative; cursor:pointer; background:url(/template/we54/por_images/xl_nav.jpg) no-repeat; margin-left:15px; margin-top:8px; display:inline; z-index:9999; }
.divOver  { background:url(/template/we54/por_images/xl_nav02.jpg) no-repeat;}
#um{ padding:6px 0 0 0;}
#um a{ color:#0035a0;}

/*顶部主导航*/
.main_nav				 { width:316px; height:352px; padding:2px 2px 2px 2px; border-bottom:1px #dbdbdb solid; border-left:1px #dbdbdb solid; border-right:1px #dbdbdb solid; z-index:9999; background:#FFFFFF; display:none; position:absolute; top:28px; right:0; float:left; overflow:hidden;}
	.zx_nav { width:316px; height:88px; background-color:#f7f7f7; overflow:hidden; float:left;}
	.zx_sec_nav { width:215px; height:65px; overflow:hidden; float:left; margin:23px 0 0 3px; display:inline;}
	.zx_sec_nav span { height:14px; margin-bottom:14px; padding:0 12px 0 12px; display:inline; overflow:hidden; float:left;}
	.main_nav a { color:#4d4d4d;}
	.main_nav a:hover { color:#FF0000;}
	.tyty { overflow:hidden; float:left;}

	.hd_nav { width:316px; height:88px; background-color:#fff; overflow:hidden; float:left;}
	.zx_sec_nav span { height:20px; margin-bottom:8px; padding:0 12px 0 12px; display:inline; overflow:hidden; float:left;}


	.sq_nav { width:316px; height:88px; background-color:#fff; overflow:hidden; float:left;}
	.sq_sec_nav { width:248px; height:65px; overflow:hidden; float:left; margin:23px 0 0 6px; display:inline;}
	.sq_sec_nav span { height:20px; margin-bottom:8px; padding:0 7px 0 7px; display:inline; overflow:hidden; float:left;}

	.zx_nav_bg01 { width:62px; height:88px; background-position:-930px -243px; overflow:hidden; float:left;}
	.zx_nav_bg02 { width:62px; height:88px; background-position:-930px -331px; overflow:hidden; float:left;}
	.zx_nav_bg03 { width:62px; height:88px; background-position:-930px -419px; overflow:hidden; float:left;}
	.zx_nav_bg04 { width:62px; height:88px; background-position:-806px -462px; overflow:hidden; float:left;}



.top_ad_01 { width:1000px; height:70px; overflow:hidden; float:left;}
.top_ad { width:1000px; height:70px; margin:5px 0 5px 0; display:inline; overflow:hidden; float:left;}
.top_ad_02 { width:200px; height:70px; overflow:hidden; float:left;}
.top_ad_03 { width:590px; height:70px; margin:0 5px 0 5px; display:inline; overflow:hidden; float:left;}
.top_ad_04 { width:200px; height:70px; overflow:hidden; float:left;}
.top_ad_05 { width:1000px; height:90px; margin:25px 0 0 0; _margin:5px 0 0 0; display:inline; overflow:hidden; float:left;}



.nav_st { width:1000px; height:20px; position:relative; float:left; _float:none; z-index:999; }
	.nav_second { width:1000px; height:40px; background-position:0 -103px; overflow:hidden; float:left;}
	.bankuai { width:104px; height:35px; background:url(/template/we54/images/bk_01.jpg) no-repeat; margin:5px 0 0 17px; display:inline; overflow:hidden; float:left; cursor:pointer;}
	.bankuaiOver { background:url(/template/we54/images/bk_02.jpg) no-repeat;}	
	.nav_nav { width:600px; height:40px; line-height:42px; font-size:18px; font-family:"微软雅黑","黑体"; margin-left:12px; display:inline; overflow:hidden; float:left;}	
	.nav_nav li { height:40px; padding:0 15px 0 15px;text-align:center; list-style-type:none; overflow:hidden; float:left;}
	.nav_nav li a { height:40px; color:#663300; }
	.nav_nav li a:hover { text-decoration:none;}
	.nav_nav li:hover {  height:40px; text-decoration:none; background:url(/template/we54/images/size_bg.jpg) repeat-x; *background:url(/template/we54/images/size_bg.jpg) repeat-x !important; float:left; overflow:hidden;}



	.ggg { width:149px; _width:149px; text-indent:1em; height:24px; margin:7px 0 0 30px; line-height:24px; color:#999999; display:inline; background-position:-334px -75px; overflow:hidden; float:left;}
	.aaa { width:77px; height:26px; display:inline; overflow:hidden; float:left; cursor:pointer;}
	.aaa:hover { background-position:-257px -74px;}
	.nav_three { width:1000px; height:115px; z-index:99999; background:url(/template/we54/por_images/xiala_nav_bg.jpg) no-repeat; position:absolute; top:40px; left:0; overflow:hidden; float:left; display:none;}
	.nav_three ul { width:1000px; height:66px; margin:35px 0 0 0; display:inline; overflow:hidden; float:left;}	
	.nav_three ul li { width:125px; height:24px; overflow:hidden; float:left; font-size:14px; line-height:22px; text-align:center;}
	.nav_three ul li a { text-decoration:none; color:#663300; }
	.nav_three ul li a:hover { text-decoration:none; color:#ff6600;}

/*底部*/
.index_bottom	{ width:100%; height:99px; margin:0 auto; background:#f3f3f3 url(/template/we54/images/bottom_bg.gif) repeat-x; text-align:center;}
.index_bottom a				{ color:#666666;}
#ft							{ padding:30px 0 0 0; border:none; color:#666666; line-height:28px;}
#scrolltop					{ width:24px; height:88px; background:url(../../../static/image/common/kaiser_fanhuitop.png) no-repeat;}