<!--{subtemplate common/header_common}-->
	<meta name="application-name" content="$_G['setting']['bbname']" />
	<meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
	<!--{if $_G['setting']['portalstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" /><!--{/if}-->
	<meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
	<!--{if $_G['setting']['groupstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" /><!--{/if}-->
	<!--{if helper_access::check_module('feed')}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" /><!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
		<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if widthauto()}-->
		<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
		<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
	<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'portal'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{/if}-->
    <link href="template/we54/common/header.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
    <script src="template/we54/js/logging.js" type="text/javascript"></script>
	<script src="template/we54/js/jquery-1.4.2.js" type="text/javascript"></script>

	<script type="text/javascript">
	var jq = jQuery.noConflict(); 
    jq(document).ready(function(){
      
      jq("#ss, #show").hover(function(){
      jq(".main_nav").show();
      },function (){jq(".main_nav").hide();});
    
    });
    </script>
	
    <script type="text/javascript">
	var jq = jQuery.noConflict();
	jq(document).ready(function(){
	  
	  jq("#bk, #ycbk").hover(function(){
	  jq(".nav_three").show();
	  },function (){jq(".nav_three").hide();});
	
	});
	</script>


</head>

<body id="nv_{$_G[basescript]}" class="pg_{CURMODULE}{if $_G['basescript'] === 'portal' && CURMODULE === 'list' && !empty($cat)} {$cat['bodycss']}{/if}" onkeydown="if(event.keyCode==27) return false;">
	<div id="append_parent"></div><div id="ajaxwaitid"></div>
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<!--{template common/header_diy}-->
	<!--{/if}-->
	<!--{if check_diy_perm($topic)}-->
		<!--{block diynav}-->
			<a id="diy-tg" href="javascript:openDiy();" title="{lang open_diy}" class="xi1 xw1" onMouseOver="showMenu(this.id)"><img src="{STATICURL}image/diy/panel-toggle.png" alt="DIY" /></a>
			<div id="diy-tg_menu" style="display: none;">
				<ul>
					<li><a href="javascript:saveUserdata('diy_advance_mode', '');openDiy();" class="xi2">{lang header_diy_mode_simple}</a></li>
					<li><a href="javascript:saveUserdata('diy_advance_mode', '1');openDiy();" class="xi2">{lang header_diy_mode_adv}</a></li>
				</ul>
			</div>
		<!--{/block}-->
	<!--{/if}-->
	<!--{if CURMODULE == 'topic' && $topic && empty($topic['useheader']) && check_diy_perm($topic)}-->
		$diynav
	<!--{/if}-->
	<!--{if empty($topic) || $topic['useheader']}-->
		<!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['diy'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
			<div class="xi1 bm bm_c">
			    {lang your_mobile_browser}<a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a> <span class="xg1">|</span> <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a>
			</div>
		<!--{/if}-->

		<div id="toptb" class="cl">
			<!--{hook/global_cpnav_top}-->
			<div class="wp">
                <div class="zzz">
                    <a><img src="/template/we54/images/bbs_logo.jpg" width="125" height="36" border="0"/></a>
                </div>
            
            	<div class="nav" id="show">
                    <div class="main_nav" id="ss" style=" z-index:10000;"><!--顶部主导航-->
                        <ul class="nav_a">
                            <li><a href="#" target="_blank" style="font-weight:bold;">资讯</a></li>
                            <li><a href="#" target="_blank">专题</a></li>
                            <li><a href="#" target="_blank">图片</a></li>
                            <li><a href="#" target="_blank" style="color:#ff0000;">评论</a></li>
                            <li><a href="#" target="_blank" style="font-weight:bold;">视频</a></li>
                            <li><a href="#" target="_blank">独家</a></li>
                            <li><a href="#" target="_blank">娱乐</a></li>
                            <li><a href="#" target="_blank">访谈</a></li>
                        </ul>
                        <h1><img src="/template/we54/images/top_line.jpg" width="1" height="64" border="0" /></h1>
                        <ul class="nav_b">
                            <li><a href="#" target="_blank" style="font-weight:bold;">美达</a></li>
                            <li><a href="#" target="_blank">五年四班</a></li>
                            <li><a href="#" target="_blank">荔枝先生</a></li>
                            <li><a href="#" target="_blank" style="font-weight:bold; color:#ff0000;">活动</a></li>
                            <li><a href="#" target="_blank">原创节目</a></li>
                            <li><a href="#" target="_blank">非常夜店</a></li>
                        </ul>
                        <h1><img src="/template/we54/images/top_line.jpg" width="1" height="64" border="0" /></h1>
                        <ul class="nav_c">
                            <li><a href="#" target="_blank" style="font-weight:bold; color:#ff0000;">房产</a></li>
                            <li><a href="#" target="_blank">理财</a></li>
                            <li><a href="#" target="_blank">镀金时代</a></li>
                            <li><a href="#" target="_blank" style="font-weight:bold;">职场充电</a></li>
                            <li><a href="#" target="_blank">人在学途</a></li>
                            <li><a href="#" target="_blank">天才宝贝</a></li>
                            <li><a href="#" target="_blank" style="font-weight:bold;">爱车</a></li>
                            <li><a href="#" target="_blank">高校</a></li>
                            <li><a href="#" target="_blank">美食探店</a></li>
                            <li><a href="#" target="_blank" style="font-weight:bold;">心随我动</a></li>
                            <li><a href="#" target="_blank">故地新游</a></li>
                            <li><a href="#" target="_blank" style="color:#ff0000;">玩转大连</a></li>
                        </ul>
                        <h1><img src="/template/we54/images/top_line.jpg" width="1" height="64" border="0" /></h1>
                        <ul class="nav_d">
                            <li><a href="#" target="_blank" style="font-weight:bold; color:#ff0000;">论坛</a></li>
                            <li><a href="#" target="_blank">大连你好</a></li>
                            <li><a href="#" target="_blank" >不惜泡吧</a></li>
                            <li><a href="#" target="_blank" >偶秀偶拍</a></li>
                            <li><a href="#" target="_blank" style="font-weight:bold;">精华</a></li>
                            <li><a href="#" target="_blank" >纯粹女人</a></li>
                            <li><a href="#" target="_blank" >亲亲宝贝</a></li>
                            <li><a href="#" target="_blank" >视频社区</a></li>
                        </ul>
                    </div>
                </div>
            	<form method="post" autocomplete="off" id="lsform" action="member.php?mod=logging&action=login&loginsubmit=yes&infloat=yes&lssubmit=yes" onSubmit="{if $_G['setting']['pwdsafety']}pwmd5('ls_password');{/if}return lsSubmit();">
                <!--{if $_G['uid']}-->
                <div id="um" style=" float:right;">
                    <p>
                        <strong class="vwmy{if $_G['setting']['connect']['allow'] && $_G[member][conisbind]} qq{/if}"><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a></strong>
                        <!--{if $_G['group']['allowinvisible']}-->
                        <span id="loginstatus">
                            <a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onClick="ajaxget(this.href, 'loginstatus');return false;" class="xi2"></a>
                        </span>
                        <!--{/if}-->
                        <!--{hook/global_usernav_extra1}-->
                        <span class="pipe">|</span><!--{hook/global_usernav_extra4}--><a href="home.php?mod=spacecp">{lang setup}</a>
                        <span class="pipe">|</span><a href="home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center}</a>
                        <span class="pipe">|</span><a href="home.php?mod=space&do=notice" id="myprompt"{if $_G[member][newprompt]} class="new"{/if}>{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>
                        <!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--><span class="pipe">|</span><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a><!--{/if}-->
                        <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
                            <span class="pipe">|</span><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
                        <!--{/if}-->
                        <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
                            <span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
                        <!--{/if}-->
                        <!--{hook/global_usernav_extra2}-->
                        <span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
                    </p>
                </div>
                <!--{elseif !$_G[connectguest]}-->
                <div class="dl_zc">
                    您好！欢迎来到新青年网站论坛 请 <a href="javascript:;" class="xi2" onClick="lsSubmit_tt()">[登录]</a> 或 <a href="member.php?mod={$_G[setting][regname]}" class="xi2 xw1" style="font-weight:normal;">[免费注册]</a>
                </div>
                <!--{/if}-->
                </form>
                <div class="y kaiser_y" style=" margin-top:8px; margin-right:10px;">
                    <!--{hook/global_cpnav_extra2}-->
                    <!--{loop $_G['setting']['topnavs'][1] $nav}-->
                        <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->$nav[code]<!--{/if}-->
                    <!--{/loop}-->
                    <!--{if empty($_G['disabledwidthauto']) && $_G['setting']['switchwidthauto']}-->
                        <a href="javascript:;" onClick="widthauto(this)"><!--{if widthauto()}-->{lang switch_narrow}<!--{else}-->{lang switch_wide}<!--{/if}--></a>
                    <!--{/if}-->
                    <!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}--><a id="sslct" href="javascript:;" onMouseOver="delayShow(this, function() {showMenu({'ctrlid':'sslct','pos':'34!'})});">{lang changestyle}</a><!--{/if}-->
                    <!--{if check_diy_perm($topic)}-->
                        $diynav
                    <!--{/if}-->
                </div>
               
                
                
                <div class="top_ad_01">
                    <a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="1000" height="70" border="0"/></a>
                </div> 
                
                <div class="top_ad">
                    <div class="top_ad_02"><a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="200" height="70" border="0"/></a></div>	
                    <div class="top_ad_03"><a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="590" height="70" border="0"/></a></div>
                    <div class="top_ad_04"><a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="200" height="70" border="0"/></a></div>
                </div>
                
                <div class="nav_st">
                    <div class="nav_second">
                        <div class="bankuai" id="bk" onMouseOver="this.style.background='url(/template/we54/images/bk_02.jpg) no-repeat'" onMouseOut="this.style.background='url(/template/we54/images/bk_01.jpg) no-repeat'"></div>
                    	<div class="nav_nav">
                    		<li <!--{if empty($_G['forum']['name'])}-->style=" background:url(/template/we54/images/size_bg.jpg) repeat-x;"<!--{/if}-->><a href="./">首页</a></li>
                            <!--{loop $_G['cache']['forums'] $bforum}-->
                                <!--{if $bforum['fup'] == $_G['forum']['fup'] && $bforum['status']}-->
                                    <li <!--{if $_G['forum']['name'] == $bforum['name']}-->style=" background:url(/template/we54/images/size_bg.jpg) repeat-x;"<!--{/if}-->><a href="forum.php?mod=forumdisplay&fid=$bforum[fid]">$bforum['name']</a></li>
                                <!--{/if}-->
                            <!--{/loop}-->
                        </div>
                        <!--{if $_G['setting']['search']}-->
                        <form id="scbar_form" method="{if $_G[fid] && !empty($searchparams[url])}get{else}post{/if}" autocomplete="off" onSubmit="searchFocus($('scbar_txt'))" action="{if $_G[fid] && !empty($searchparams[url])}$searchparams[url]{else}search.php?searchsubmit=yes{/if}" target="_blank">
                            <input type="hidden" name="mod" id="scbar_mod" value="forum" />
                            <input type="hidden" name="formhash" value="{FORMHASH}" />
                            <input type="hidden" name="srchtype" value="title" />
                            <input type="hidden" name="srhfid" value="$_G[fid]" />
                            <input type="hidden" name="srhlocality" value="$_G['basescript']::{CURMODULE}" />
                            <!--{if !empty($searchparams[params])}-->
                                <!--{loop $searchparams[params] $key $value}-->
                                <!--{eval $srchotquery .= '&' . $key . '=' . rawurlencode($value);}-->
                                <input type="hidden" name="$key" value="$value" />
                                <!--{/loop}-->
                                <input type="hidden" name="source" value="discuz" />
                                <input type="hidden" name="fId" id="srchFId" value="$_G[fid]" />
                                <input type="hidden" name="q" id="cloudsearchquery" value="" />
                            <!--{/if}-->
                    
                            <input style="border:none;" type="text" name="srchtxt" id="scbar_txt" value="{lang enter_content}" onFocus="if (value =='{lang enter_content}'){value =''}" onBlur="if (value ==''){value='{lang enter_content}'}" class="ggg" autocomplete="off" x-webkit-speech speech />
                            <button style="border:none;" type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="aaa" value="true"></button>
                        </form>
                        <!--{/if}-->
                    </div>
                
                    <div class="nav_three" id="ycbk"><!--三级导航-->
                        <ul>
                            <li><a href="/forum-743-1.html" target="_blank">大连你好</a></li>
                            <li><a href="/forum-747-1.html" target="_blank">纯粹女人</a></li>
                            <li><a href="/forum-992-1.html" target="_blank">法律咨询</a></li>
                            <li><a href="/forum-898-1.html" target="_blank">欢乐时光</a></li>
                            <li><a href="/forum-940-1.html" target="_blank">非常夜店</a></li>
                            <li><a href="/forum-791-1.html" target="_blank">谈车论驾</a></li>
                            <li><a href="/forum-964-1.html" target="_blank">君子爱财</a></li>
                            <li><a href="/forum-970-1.html" target="_blank">新青年歌友会</a></li>
                            <li><a href="/forum-900-1.html" target="_blank">不惜泡吧</a></li>
                            <li><a href="/forum-974-1.html" target="_blank">妈 妈 团</a></li>
                            <li><a href="/forum-903-1.html" target="_blank">全城热恋 </a></li>
                            <li><a href="/forum-962-1.html" target="_blank">体坛风云</a></li>
                            <li><a href="/forum-968-1.html" target="_blank">教育培训</a></li>
                            <li><a href="/forum-966-1.html" target="_blank">人在旅途</a></li>
                            <li><a href="/forum-959-1.html" target="_blank">好片同享 </a></li>
                            <li><a href="/forum-921-1.html" target="_blank">五四宜家人</a></li>
                            <li><a href="/forum-269-1.html" target="_blank">偶秀偶拍</a></li>
                            <li><a href="/forum-993-1.html" target="_blank">寻医问诊</a></li>
                            <li><a href="/forum-941-1.html" target="_blank">两性咨询</a></li>
                            <li><a href="/forum-909-1.html" target="_blank">买房卖房</a></li>
                            <li><a href="/forum-985-1.html" target="_blank">学 院 派</a></li>
                            <li><a href="/forum-931-1.html" target="_blank">饭统大连</a></li>
                            <li><a href="/forum-705-1.html" target="_blank">淘宝大连街</a></li>
                            <li><a href="/forum-973-1.html" target="_blank">官方版务</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="top_ad_05">
                    <a href="#" target="_blank"><img src="/template/we54/images/ad01.jpg" width="1000" height="90" border="0"/></a>
                </div>
                
			</div>
		</div>

		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onClick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->

				<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
					<!--{if $_G['uid']}-->
					<ul>
						<!--{loop $_G['setting']['mynavs'] $nav}-->
							<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
								<li>$nav[code]</li>
							<!--{/if}-->
						<!--{/loop}-->
					</ul>
					<!--{elseif $_G[connectguest]}-->
						<div class="ptm pbw hm">
							{lang connect_fill_profile_to_visit}
						</div>
					<!--{else}-->
						<div class="ptm pbw hm">
							{lang my_nav_login}
						</div>
					<!--{/if}-->
				</div>
		<!--{/if}-->

		

		<!--{hook/global_header}-->
	<!--{/if}-->

	<div id="wp" class="wp">