.wp								{ width:998px !important; margin-bottom:30px !important;}
#ct .kaiser_mn					{ width:809px !important; margin:0 29px 0 0; border:none; float:right;}
#ct .kaiser_bm					{ margin:0; border:none;}
#ct .kaiser_sd					{ width:138px; background:none; overflow:visible; float:left;}
#ct .kaiser_bm_h				{ height:26px; margin:17px 0 0 0; padding:0 0 0 11px; background:url(/template/we54/images/kaiser_space_pic_cont_bav.png) no-repeat; border:none; line-height:31px; overflow:hidden;}
#ct .kaiser_bm_h .mt			{ width:93px; height:26px; text-align:center; font-size:14px; color:#333333;}
.move-span						{ margin:0;}