@charset "gb2312";
/* CSS Document */

/*
内容页
*/
#kaiser_pt							{ height:20px; margin:0;}
.kaiser_bm							{ position:relative; border:none; margin:0; height:10px;}
.kaiser_bm .z						{ font-size:14px; color:#333333; position:absolute; top:8px;}
.kaiser_bm .z b						{ font-weight:normal; float:left;}
.kaiser_bm .z a						{ color:#005bac;}
.wp .pgt							{ float:left;}
.wp .pgb							{ float:left;}
.wp .pgt .pg						{ float:left;}
.pgb a								{ margin-left:0;}
.pgs #newspecial, .pgs #post_reply	{ margin:0 0 0 5px; float:right;}
.pgs #newspecialtmp, .pgs #post_replytmp	{ margin:0 0 0 5px; float:right;}
#pgt .pg, #pgt .pgb, .pg, .pgb		{ margin-top:26px; line-height:20px;}
.pg a, .pg strong, .pgb a, .pg label{ height:19px !important; padding:0 6px;}
.pg a.nxt							{ padding:0 17px 0 8px; background-image:url(../../../static/image/common/kaiser_arw_r.gif); background-position:93% 50%; font-size:12px; font-family:"微软雅黑";}
.pgb a								{ padding:0 8px 0 17px; background-image:url(../../../static/image/common/kaiser_arw_l.gif); background-position:3px 50%; border-color:#e7e7cb; color:#8f8f8f;}
.pg strong							{ background:#b8af73; border-color:#b8af73; font-weight:normal; color:#FFF;}
.pg a								{ border-color:#e7e7cb; color:#8f8f8f; font-size:14px; font-family:Arial;}
.pg label							{ padding:0 6px !important; border-color:#e7e7cb; color:#8f8f8f; overflow:hidden;}
.pg label .px						{ height:12px; margin:3px 0 0 0; display:inline; line-height:12px; float:left;}
.pg a.prev							{ background-image:url(../../../static/image/common/kaiser_arw_l.gif);}
.pg a.prev:hover					{ background-image:url(../../../static/image/common/kaiser_arw_l_on.gif); background-position:50% 50%;}
.kaiser_pgs .pgb, .kaiser_pgs .pg	{ margin-top:19px;}
.pg a.nxt:hover						{ background:#b8af73; background-image:url(../../../static/image/common/kaiser_arw_r_on.gif); background-position:93% 50%; background-repeat:no-repeat; border-color:#b8af73; color:#FFF; text-decoration:none;}
.pgb a:hover						{ background:#b8af73; background-image:url(../../../static/image/common/kaiser_arw_l_on.gif); background-position:3px 50%; background-repeat:no-repeat; border-color:#b8af73; color:#FFF; text-decoration:none;}
.pg a:hover							{ background:#b8af73; border-color:#b8af73; color:#FFF; text-decoration:none;}
.kaiser_tr_top						{ zoom:1;}
.kaiser_pl_bm						{ border:none;}
.kaiser_plc_ptm_pbn_vwthd			{ height:24px; padding:0 !important; border-left:1px solid #e7e7cb; border-top:1px solid #e7e7cb; border-bottom:1px solid #e7e7cb;}
.kaiser_plc_ptm_pbn_vwthd a			{ color:#663300;}
.kaiser_viewthread_bav				{ width:839px; height:31px; margin:1px 0 1px 1px; display:inline; padding:8px 0 0 26px; background:#FFF url(../../../static/image/common/kaiser_view_top_bg.png) repeat-x; float:left;}
.kaiser_viewthread_bav_num			{ width:139px; height:39px; margin:1px 1px 1px 0; display:inline; padding:0 20px 0 0; background:#FFF url(../../../static/image/common/kaiser_view_top_bg.png) repeat-x; line-height:16px; float:left;}
.kaiser_hm							{ float:right;}
.kaiser_hm_num						{ margin:4px 0 0 0; display:inline; float:left;}
.kaiser_hm .pipe					{ width:1px; height:31px; margin:5px 11px 0; display:inline; background:#d7d7a9; float:left;}
.kaiser_hm .xg1						{ color:#754816 !important;}
.pls								{ background:#f1f1e3; border-right-color:#e7e7cb;}
.plc								{ background:#faf9f5;}
.kaiser_pls							{ padding:0 !important; background:none; border-top:1px solid #e7e7cb; border-right:1px solid #e7e7cb; border-bottom:1px solid #e7e7cb;}
.pls .avatar						{ margin:10px 0 0 20px;}
.pls .avatar img					{ background:none; padding:0; border:1px solid #cacaca;}
.kaiser_pl							{ border-left:none; border-top:none; border-bottom:none; border-right-color:#e7e7cb;}
.kaiser_plc_line					{ border-bottom:1px solid #e7e7cb;}
.kaiser_pls_line					{ border-bottom:1px solid #f1f1e3;}
.kaiser_plc_other_line				{ border-top:1px solid #e7e7cb;}
.kaiser_pls_other_line				{ border-top:1px solid #f1f1e3;}
.kaiser_ext							{ padding:10px 0 0 20px;}
.pls .kaiser_tns_xg2				{ padding:10px;}
.xl2 li								{ width:69px; height:22px; padding:8px 0 11px 0;}
.kaiser_pm2 a						{ width:63px; height:22px; background:url(../../../static/image/common/kaiser_pmto.png) no-repeat; float:left;}
.kaiser_addflw a					{ width:63px; height:22px; text-indent:0; overflow:hidden; float:left;}
.kaiser_mtw_mbm_cl					{ padding:0 0 52px 0;}
#p_btn a							{ margin-right:0; padding:0;}
#p_btn .kaiser_pingfen_btn			{ width:85px; height:38px; margin:0 0 0 307px; display:inline; background:url(../../../static/image/common/kaiser_pingfen_reply_btn.png) no-repeat 0 0; overflow:hidden; float:left;}
#p_btn .kaiser_pingfen_btn:hover	{ background:url(../../../static/image/common/kaiser_pingfen_reply_btn.png) no-repeat -85px 0;}
#p_btn .kaiser_reply_btn			{ width:85px; height:38px; margin:0 307px 0 0; display:inline; background:url(../../../static/image/common/kaiser_pingfen_reply_btn.png) no-repeat 0 -38px; overflow:hidden; float:right;}
#p_btn .kaiser_reply_btn:hover		{ background:url(../../../static/image/common/kaiser_pingfen_reply_btn.png) no-repeat -85px -38px;}
.kaiser_pl .pi a					{ border:none;}
.pls .kaiser_member_font			{ margin:10px 0 0 20px;}
.kaiser_p_pop_blk_bui				{ width:478px !important; height:234px; margin:-1px 0 0 0; padding:0; background:#FFF; border:1px solid #e7e7cb;}
.kaiser_p_pop_blk_bui .kaiser_m_z	{ width:141px; height:224px; padding:10px 0 0 19px; background:#f9f9f2; overflow:hidden; float:left;}
.kaiser_m_z img						{ border:1px solid #cacaca;}
.kaiser_p_pop_blk_bui .kaiser_i_y	{ width:318px; height:234px; background:url(/template/we54/images/kaiser_viewthread_tanchu_bg.png) no-repeat right top; overflow:hidden; float:left;}
.kaiser_i_y_username				{ width:300px; height:32px; padding:0 0 0 18px; border-bottom:1px dashed #e5e5e5; line-height:34px; overflow:hidden; float:left;}
.kaiser_i_y_username strong			{ font-weight:normal; float:left;}
.kaiser_i_y_username em				{ padding:0 0 0 16px; color:#000; float:left;}
.kaiser_i_y_username strong a		{ color:#ff6600;}
.bui .kaiser_cl						{ width:300px; height:123px; margin:0; padding:5px 0 0 18px; border-bottom:1px dashed #e5e5e5; overflow:hidden; float:left;}
.kaiser_cl dt						{ width:60px; height:23px; color:#666666; line-height:26px;}
.kaiser_cl dd						{ height:23px; color:#ff6600; line-height:26px;}
.kaiser_cl dd a						{ color:#ff6600;}
.kaiser_cl dd a:hover				{ color:#ff6600;}
.kaiser_tanchu_infos				{ width:300px; height:60px; padding:8px 0 0 18px; overflow:hidden; float:left;}
.kaiser_tanchu_infos em				{ width:280px; height:20px; color:#666666; float:left;}
.kaiser_tanchu_infos i				{ width:290px; height:36px; color:#666666; line-height:20px; overflow:hidden; float:left;}
.kaiser_viewthread_jiantou			{ position:absolute; bottom:-41px; right:-1px; z-index:1; overflow:hidden;}
.kaiser_pn_post_btn					{ width:148px; height:58px; background:url(../../../static/image/common/kaiser_pn_post.png) no-repeat 0 0; overflow:hidden; float:right;}
.kaiser_pn_post_btn:hover			{ background:url(../../../static/image/common/kaiser_pn_post.png) no-repeat -148px 0;}
.kaiser_pn_reply_btn				{ width:148px; height:58px; background:url(../../../static/image/common/kaiser_pn_reply.png) no-repeat 0 0; overflow:hidden;}
.kaiser_pn_reply_btn:hover			{ background:url(../../../static/image/common/kaiser_pn_reply.png) no-repeat -148px 0;}
.top_ad_06							{ width:1000px; height:90px; margin:8px 0 0 0; display:inline; overflow:hidden; float:left;}
.kaiser_viewthread_header			{ width:998px; height:165px; margin:8px 0 0 0; display:inline; border:1px solid #e7e7cb; font-family:"微软雅黑", "宋体"; line-height:16px; overflow:hidden; float:left;}
.kaiser_viewthread_header_bav		{ width:998px; height:29px; border-bottom:1px solid #e7e7cb; line-height:31px; overflow:hidden; float:left;}
.kaiser_viewthread_header_bav b		{ padding:0 0 0 11px; font-size:14px; color:#663300; float:left;}
.kaiser_viewthread_header_bav em	{ padding:0 0 0 11px; color:#999999; font-size:12px; float:left;}
.kaiser_viewthread_header_bav i		{ width:841px; height:29px; padding:0 0 0 7px; font-size:12px; overflow:hidden; float:left;}
.kaiser_viewthread_header_cont		{ width:998px; float:left;}
.dxctuijian							{ margin:0; border:none;}
.dxctuijian_cont					{ margin:0;}
.dxctuijian_cont .xl1 ul li			{ height:29px; margin:0; padding:0 11px 0 0; background:none; float:left;}
.dxctuijian_cont .xl1 ul li a		{ color:#663300;}
.temp								{ margin:0;}
.dxcneirong							{ width:995px; height:125px; margin:0 0 0 3px; display:inline; border:none; overflow:hidden; float:left;}
.dxcneirong .frame-2-1-l			{ width:733px; float:left;}
.dxcneirong .frame-2-1-r			{ width:245px; float:left;}
.dxcneirong_tupian					{ margin:0;}
.dxcneirong_tupian dl				{ width:120px; height:112px; margin:13px 13px 0; display:inline; overflow:hidden; float:left;}
.dxcneirong_tupian .xld dd			{ width:120px; height:90px; overflow:hidden; margin:0; float:left;}
.dxcneirong_tupian .xld dt			{ width:120px; padding:0; line-height:28px; text-align:center; overflow:hidden; float:left;}
.dxcneirong_tupian .xld dt a		{ font-weight:normal; color:#666666;}
.dxcneirong_tupian .xld dt a:hover	{ color:#0657b2;}
.dxcneirong_wenzhang				{ width:232px; height:117px; margin:0; padding:8px 0 0 13px; overflow:hidden; float:left;}
.dxcneirong_wenzhang .xl1 ul li		{ width:232px; height:24px; margin:0; padding:0; background:none; line-height:24px; overflow:hidden; float:left;}
.dxcneirong_wenzhang .xl1 ul li a	{ font-size:14px; color:#666666;}
.kaiser_gundong						{ width:100%; height:59px; background:#e7e7cb; border-top:1px solid #e1d6ad; position:fixed; bottom:0; z-index:99999; _position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); overflow:hidden;}
.kaiser_gundong_box					{ width:1000px; height:59px; margin:0 auto; overflow:hidden;}
.kaiser_gundong_box em				{ width:271px; padding:4px 0 0 36px; font-family:"微软雅黑"; font-size:22px; color:#996633; line-height:26px; overflow:hidden; float:left;}
*html								{ background-image:url(about:blank); background-attachment:fixed;}/*防IE6抖动*/
.kaiser_gundong_box i				{ width:210px; height:39px; margin:8px 0 0 0; display:inline; padding:4px 0 0 76px; background:url(/template/we54/images/kaiser_gundong_bg.png) no-repeat 0 11px; border-right:1px solid #d6c59c; overflow:hidden; float:left;}
.kaiser_gundong_box i a				{ width:88px; height:35px; margin:0 17px 0 0; display:inline]; overflow:hidden; float:left;}
.kaiser_gundong_login				{ background:url(/template/we54/images/kaiser_gundong_btn.png) no-repeat 0 0;}
.kaiser_gundong_login:hover			{ background-position:-88px 0;}
.kaiser_gundong_register			{ background:url(/template/we54/images/kaiser_gundong_btn.png) no-repeat 0 -35px;}
.kaiser_gundong_register:hover		{ background-position:-88px -35px;}
.kaiser_gundong_box b				{ width:385px; height:24px; padding:17px 0 0 15px; overflow:hidden; float:left;}
.kaiser_gundong_box b span			{ width:91px; height:24px; font-weight:normal; color:#666; line-height:27px; overflow:hidden; float:left;}
.kaiser_gundong_box b a				{ height:24px; margin:0 12px 0 0; display:inline; overflow:hidden; float:left;}
.kaiser_gundong_close				{ width:19px; height:16px; background:url(/template/we54/images/kaiser_gundong_close.png) no-repeat; overflow:hidden; position:absolute; right:12px; top:12px; cursor:pointer;}
.kaiser_viewthread_iphone			{ width:260px; height:32px; margin-bottom:10px; display:inline; *margin-bottom:0; padding-left:86px; background:url(/template/we54/images/kaiser_viewthread_iphone.png) no-repeat; font-family:"微软雅黑"; font-size:14px; font-weight:bold; line-height:31px; overflow:hidden; float:left;}
.kaiser_viewthread_iphone a			{ color:#a0732d; text-decoration:underline;}
.kaiser_viewthread_iphone a:hover	{ text-decoration:none;}

/*
列表页
*/

.kaiser_list_bm						{ position:inherit; border:none;}
.kaiser_list_bm .z					{ font-size:14px; color:#333333;}
.kaiser_list_bm .z b				{ font-weight:normal; float:left;}
.kaiser_list_bm .z a				{ color:#005bac;}
#pgt .pgt							{ float:left;}
#pgt .pgb							{ float:left;}
#pgt .pgt .pg						{ float:left;}
.pgb a								{ margin-left:0;}
.pg a.nxt							{ background-image:url(../../../static/image/common/kaiser_arw_r.gif);}
.pgb a								{ background-image:url(../../../static/image/common/kaiser_arw_l.gif);}
.kaiser_tl_bm_bmw					{ border:none;}
.kaiser_bm_c						{ padding:0 0 0 10px;}
.kaiser_bm_c #moderate .lock a, .kaiser_bm_c #moderate .common a, .kaiser_bm_c #moderate .new a{ color:#0657b2;}
.kaiser_bm_c #moderate .lock em, .kaiser_bm_c #moderate .common em, .kaiser_bm_c #moderate .new em{ color:#999;}
.kaiser_bm_c #moderate .lock em a, .kaiser_bm_c #moderate .common em a, .kaiser_bm_c #moderate .new em a{ color:#999;}
.kaiser_bm_c #moderate .lock .xi1, .kaiser_bm_c #moderate .common .xi1, .kaiser_bm_c #moderate .new .xi1{ color:#FF0101;}
.kaiser_bm_c_new_view				{ padding:0;}
.kaiser_bm_c_new_view .lock a, .kaiser_bm_c_new_view .common a, .kaiser_bm_c_new_view .new a{ color:#0657b2;}
.kaiser_bm_c_new_view .lock em, .kaiser_bm_c_new_view .common em, .kaiser_bm_c_new_view .new em{ color:#999;}
.kaiser_bm_c_new_view .lock em a, .kaiser_bm_c_new_view .common em a, .kaiser_bm_c_new_view .new em a{ color:#999;}
.kaiser_bm_c_new_view .lock .xi1, .kaiser_bm_c_new_view .common .xi1, .kaiser_bm_c_new_view .new .xi1{ color:#FF0101;}
.kaiser_ml_mlt_mtw_cl li			{ width:224px; height:319px; margin:0 18px 0 15px; padding:0; border:none;}
.kaiser_ml_mlt_mtw_cl li .c			{ padding-top:0 !important; padding-left:0 !important;}
.kaiser_ml_mlt_mtw_cl li .c a		{ width:200px; height:200px; padding:10px 14px 14px 10px; background:url(/template/we54/images/kaiser_list_tuji_pic_bg.png) no-repeat 0 0; overflow:hidden; float:left;}
.kaiser_ml_mlt_mtw_cl li .c a:hover	{ background:url(/template/we54/images/kaiser_list_tuji_pic_bg.png) no-repeat -224px 0;}
.kaiser_list_tuji_num				{ width:48px; height:25px; background-image:url(/template/we54/images/kaiser_list_tuji_pic_num.png)!important; background-repeat:no-repeat;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='template/we54/images/kaiser_list_tuji_pic_num.png'); _background-image:none; color:#FFF; text-align:center; position:absolute; top:179px; right:20px; line-height:25px; overflow:hidden;}
.kaiser_list_tuji_num b				{ font-size:20px; font-family:Arial;}
.kaiser_ptn							{ padding-left:6px;}
.kaiser_ptn em						{ display:inline;}
.kaiser_ptn a						{ display:inline; font-size:14px; color:#333333;}
.kaiser_list_pic_time				{ font-size:12px; color:#999;}
.mlt li .kaiser_list_pic_time span	{ font-size:12px; color:#999;}
.mlt li .cl							{ padding-top:6px; padding-left:6px;}
.kaiser_list_pic_view em			{ width:84px; padding:0 0 0 20px; background:url(/template/we54/images/kaiser_list_tuji_view.png) no-repeat 1px 2px; font-size:12px; color:#666; overflow:hidden; float:left;}
.kaiser_list_pic_view i				{ padding:0 0 0 20px; background:url(/template/we54/images/kaiser_list_tuji_chakan.png) no-repeat 0 2px; font-size:12px; color:#666; overflow:hidden; float:left;}
.kaiser_list_pic_view i a			{ color:#666;}
.kaiser_th							{ height:31px; margin:0 0 0 10px; padding:0; background:url(../../../static/image/common/kaiser_list_nav_bg.gif) repeat-x; border-bottom:2px solid #0080cc;}
.kaiser_nav_btn						{ height:31px; float:left;}
.kaiser_nav_out						{ width:77px; height:31px; background:url(../../../static/image/common/kaiser_nav_btn.png) no-repeat 0 -31px; text-align:center; font-size:14px; color:#334f67; line-height:32px; overflow:hidden; float:left;}
.kaiser_nav_btn a:hover				{ background:url(../../../static/image/common/kaiser_nav_btn.png) no-repeat 0 0; text-decoration:none; color:#FFF; font-weight:bold;}
.kaiser_tuji						{ background:none;}
.kaiser_nav_on						{ width:77px; height:31px; background:url(../../../static/image/common/kaiser_nav_btn.png) no-repeat 0 0; color:#FFF; font-weight:bold; font-size:14px; text-align:center; line-height:32px; overflow:hidden; float:left;}
.kaiser_nav_search					{ padding:5px 0 0 0; float:right;}
.kaiser_nav_search #scbar_btn		{ width:58px; height:22px; margin:0 13px 0 1px; display:inline; background:url(../../../static/image/common/kaiser_nav_search_btn.png) no-repeat; cursor:pointer; overflow:hidden; float:right;}
.kaiser_nav_search #scbar_txt		{ width:159px; height:20px; padding:0 4px; background:#FFF; border:1px solid #dddddd; font-size:12px; color:#999999; line-height:20px; overflow:hidden; float:right;}
.kaiser_ttp_bm_cl					{ height:31px; margin:0 0 0 10px; padding:0; background:url(../../../static/image/common/kaiser_zhutitag_bg.gif) repeat-x; border:none; overflow:hidden;}
.kaiser_ttp_bm_cl li				{ line-height:32px; color:#334f67;}
.kaiser_ttp_bm_cl a					{ width:auto; height:auto; border:none; display:inline; padding:0 11px; background:none; color:#334f67;}
.kaiser_ttp_bm_cl a:hover			{ background:none; text-decoration:underline;}
.kaiser_ttp_bm_cl .a a				{ padding:0 11px; background:none; color:#334f67;}
.kaiser_ttp_bm_cl .a a:hover		{ background:none;}
.tl .kaiser_pailie a				{ color:#666666;}
.tl .kaiser_pailie em				{ margin:0 15px; color:#666666;}
.tl .kaiser_list_pailie_th			{ margin:0 0 0 10px; padding:0 0 0 0; background:#FFF;}
.tl .kaiser_list_pailie_th th		{ padding:0; border:none; line-height:32px;}
.tl th, .tl td						{ padding:9px 0; border-bottom:1px solid #ededed;}
.tl .th td, .tl .th th				{ height:auto; vertical-align:inherit;}
.kaiser_list_bg						{ background:#f7f7f7;}
.kaiser_list_bm_bw0_pgs_cl .pgb{ margin-top:26px;}
.kaiser_list_bm_bw0_pgs_cl a:hover	{ text-decoration:none;}
.kaiser_bm_bmw_fl					{ margin-left:10px; padding:1px; border:1px solid #f3edda;}
.fl .kaiser_bm_h_cl					{ height:24px; background:url(/template/we54/images/kaiser_list_son_bav_bg.gif) repeat-x; border:none; line-height:23px; color:#000;}
.bm_h .kaiser_o img					{ margin-top:6px;}
.kaiser_fl_tb td					{ padding:0;}
.kaiser_fl_tb .kaiser_list_son_cont	{ width:248px; height:70px; margin:7px 3px 0; display:inline; padding:0; background:url(/template/we54/images/kaiser_list_son_cont_bg.png) no-repeat; overflow:hidden; float:left;}
.kaiser_list_son_cont .fl_icn_g		{ width:40px; height:40px; margin:13px 0 0 10px; overflow:hidden; float:left;}
.kaiser_list_son_cont dl			{ width:167px; height:53px; margin:0; padding-top:7px; padding-left:11px; overflow:hidden; float:left;}
.kaiser_list_son_cont dl dt a:hover	{ text-decoration:underline;}
.by a								{ color:#888;}
.by em span							{ color:#aaa;}
.tl .num a							{ color:#aaa;}
#fj .kaiser_z						{ line-height:19px;}
.kaiser_jieshao						{ width:1000px; height:629px; margin:0 auto; position:absolute; top:0; z-index:999999;}
.kaiser_jieshao em					{ position:absolute; overflow:hidden;}
.kaiser_jieshao_1					{ width:507px; height:261px; background-image:url(/template/we54/images/kaiser_jieshao_01.gif); background-repeat:no-repeat; left:304px; top:37px;}
.popupContactClose_01				{ width:43px; height:43px; cursor:pointer; overflow:hidden; position:absolute; left:406px; top:34px;}
#kaiser_jieshao_01					{ width:126px; height:59px; position:absolute; left:325px; top:148px; cursor:pointer;}
.kaiser_jieshao_2					{ width:400px; height:224px; background-image:url(/template/we54/images/kaiser_jieshao_02.gif); background-repeat:no-repeat; left:538px; top:37px;}
.popupContactClose_02				{ width:43px; height:43px; cursor:pointer; overflow:hidden; position:absolute; left:290px; top:39px;}
#kaiser_jieshao_02					{ width:88px; height:42px; position:absolute; left:36px; top:171px; cursor:pointer;}
.kaiser_jieshao_3					{ width:418px; height:183px; background-image:url(/template/we54/images/kaiser_jieshao_03.gif); background-repeat:no-repeat; left:26px; top:239px;}
.popupContactClose_03				{ width:43px; height:43px; cursor:pointer; overflow:hidden; position:absolute; left:335px; top:21px;}
#kaiser_jieshao_03					{ width:93px; height:44px; position:absolute; left:244px; top:116px; cursor:pointer;}
.kaiser_jieshao_4					{ width:426px; height:285px; background-image:url(/template/we54/images/kaiser_jieshao_04.gif); background-repeat:no-repeat; left:503px; top:176px;}
.popupContactClose_04				{ width:43px; height:43px; cursor:pointer; overflow:hidden; position:absolute; left:344px; top:84px;}
#kaiser_jieshao_04					{ width:93px; height:44px; position:absolute; left:285px; top:201px; cursor:pointer;}
.kaiser_jieshao_5					{ width:412px; height:232px; background-image:url(/template/we54/images/kaiser_jieshao_05.gif); background-repeat:no-repeat; left:15px; top:397px;}
.popupContactClose_05				{ width:37px; height:37px; cursor:pointer; overflow:hidden; position:absolute; left:350px; top:77px;}
#kaiser_jieshao_05					{ width:93px; height:44px; position:absolute; left:286px; top:173px; cursor:pointer;}
.kaiser_jieshao_6					{ width:334px; height:222px; background-image:url(/template/we54/images/kaiser_jieshao_06.gif); background-repeat:no-repeat; left:590px; top:339px;}
.popupContactClose_06				{ width:37px; height:37px; cursor:pointer; overflow:hidden; position:absolute; left:282px; top:68px;}
#kaiser_jieshao_06					{ width:93px; height:44px; position:absolute; left:24px; top:151px; cursor:pointer;}
.kaiser_jieshao_7					{ width:488px; height:278px; background-image:url(/template/we54/images/kaiser_jieshao_07.gif); background-repeat:no-repeat; left:326px; top:171px;}
#kaiser_jieshao_07					{ width:208px; height:67px; position:absolute; left:265px; top:144px; cursor:pointer;}
#backgroundPopup					{ display:none; position:fixed; _position:absolute; height:100%; width:100%; top:0; left:0; background:#000000; z-index:99999;}
.kaiser_list_tp_pgt .pg				{ margin-top:0;}
.kaiser_list_bottom_pgt .pg			{ margin-top:10px;}
.kaiser_new_view a					{ width:82px; height:22px; margin:29px 10px 0 0; display:inline; background:#0080CC; border:1px solid #0080CC; color:#FFF; text-align:center; line-height:23px; overflow:hidden; float:left;}
.kaiser_new_view a:hover			{ background:#ecf8ff; color:#0080cc; text-decoration:none;}
.kaiser_new_view_ttp_bm_cl			{ width:600px; padding-top:0; border:none; float:left;}
.kaiser_new_view_page				{ width:600px; float:left;}
#pgt .kaiser_new_view_page .pg, #pgt .kaiser_new_view_page .pgb{ margin-top:17px;}
.kaiser_new_view_tl_bm_bmw			{ border:none; border-top:2px solid #0080cc;}
.kaiser_new_view_tl_bm_bmw .th		{ height:32px; padding:0 0 0 10px; background:#FFF;}
.kaiser_new_view_ttp_bm_cl li		{ width:94px; height:24px; padding-bottom:0; overflow:hidden; float:left;}
.kaiser_new_view_ttp_bm_cl li a		{ width:82px; height:22px; padding:0; background:#FFF; border:1px solid #cfcfcf; text-align:center; line-height:23px; overflow:hidden; float:left;}
.kaiser_new_view_ttp_bm_cl li a:hover{ background:#ecf8ff; border:1px solid #0080cc; color:#0080cc; text-decoration:none;}
.kaiser_new_view_ttp_bm_cl .a a		{ width:82px; height:22px; padding:0; background:#0080cc; border:1px solid #0080cc; text-align:center; font-weight:normal; color:#FFF; line-height:23px; overflow:hidden; float:left;}

/*
个人资料
*/
.kaiser_ct2_a_wp_cl					{ height:auto; background:url(/template/we54/images/kaiser_data_bg.gif) repeat-y; border:1px solid #e6e1c7; border-top:3px solid #e6e1c7; font-size:14px;}
.ct2_a .kaiser_spacecp_mn			{ width:809px !important; margin-right:27px; overflow:hidden;}
#ct									{ height:auto;}
.kaiser_btn							{ padding:53px 0 0 11px;}
.kaiser_btn ul li					{ margin:0; padding:0 10px 0 15px; border:none;}
.kaiser_btn ul li a					{ line-height:30px; color:#000;}
.kaiser_btn ul li.a					{ padding:0 10px 0 15px; background:url(/template/we54/images/kaiser_data_btn_bg.png) no-repeat; border-bottom:none; border-top:none;}
.appl								{ width:119px;}
.kaiser_tb_cl						{ padding-bottom:15px; background:url(/template/we54/images/kaiser_data_nav_line.gif) repeat-x left 28px; border-bottom:none;}
.kaiser_tb_cl li					{ margin:0 10px 0 0;}
.kaiser_tb_cl a						{ width:76px; height:27px; margin-top:2px; padding:0; background:url(/template/we54/images/kaiser_data_bav_bg_not.png) no-repeat; border:none; text-align:center; font-size:14px; color:#333; line-height:28px;}
.kaiser_tb_cl .a a					{ width:80px; height:26px; margin:3px 0 0 0; background:url(/template/we54/images/kaiser_data_bav_bg_on.png) no-repeat; color:#663300;}
.kaiser_tfm							{ margin:22px 0 0 0; font-size:14px; color:#333;}
.kaiser_tfm tr th					{ padding-top:10px; padding-right:10px; text-align:right;}
.kaiser_tfm tr td					{ padding:10px 0 6px 0; vertical-align:middle;}
.kaiser_pn_pnc						{ width:121px !important; height:30px; border:none; background:url(/template/we54/images/kaiser_data_sub_btn.png) no-repeat 0 0; float:left;}
.kaiser_pn_pnc:active				{ background-position:0 0;}
.sltm								{ background:#FFF;}
.kaiser_tfm_avatar_f				{ width:150px; margin:0 39px 0 0; float:left;}
.kaiser_tfm_avatar_f caption h2		{ font-size:14px; color:#333; text-align:center;}
.kaiser_tfm_avatar_f tr td			{ padding:5px; background:url(/template/we54/images/kiaser_space_touxiang_pic_bg.png) no-repeat center; text-align:center;}
.kaiser_tfm_avatar_f tr th			{ font-size:12px; color:#333; text-align:center;}
.kaiser_tfm_avatar_f img			{ width:120px; height:120px;}
.kaiser_tfm_avatar_s				{ width:525px; float:left;}
.kaiser_tfm_avatar_s caption		{ padding-left:42px; background:url(/template/we54/images/kiaser_space_touxiang_pic_line_t.png) no-repeat 0 0; font-size:14px; color:#333;}
.kaiser_tfm_avatar_s caption h2		{ padding-bottom:5px;}
.kaiser_tfm_avatar_s caption p		{ font-size:12px; line-height:20px;}
.kaiser_tfm_avatar_s tr td			{ padding-left:42px; background:url(/template/we54/images/kiaser_space_touxiang_pic_line_b.png) no-repeat 0 0;}
.kaiser_mtw_bm2_cl					{ width:799px; height:90px; margin-top:5px !important; border-bottom:1px solid #ebebeb;}
.bm2 .kaiser_bm2_b_bw0_hm			{ width:64px; height:64px; margin-left:6px; display:inline; background:url(/template/we54/images/kiaser_space_bangding_qq.png) no-repeat; overflow:hidden; float:left;}
.bm2 .kaiser_bm2_b_bm2_b_y_bw0		{ width:80%; padding:4px 0 0 19px; float:left;}
.bm2 .kaiser_bm2_b_bm2_b_y_bw0 span	{ padding:0 16px 0 0; font-size:12px; font-weight:normal; color:#999; line-height:24px; overflow:hidden; float:left;}
.bm2 .kaiser_bm2_b_bm2_b_y_bw0 a	{ overflow:hidden; float:left;}
.bm2 .kaiser_bm2_b_bm2_b_y_bw0 i	{ width:700px; height:14px; margin-top:10px; display:inline-block; font-size:12px; font-weight:normal; color:#999; overflow:hidden;}
.kaiser_qq_mbw_bbda					{ margin-bottom:0 !important;}

/*
跳转页
*/
.kaiser_return_wp					{ height:auto!important; height:515px; min-height:515px; padding:60px 0 0 0; background:#FFF url(/template/we54/images/kaiser_return_bg.jpg) no-repeat bottom;}