@charset "gb2312";
/* CSS Document */

/*内容页*/
#kaiser_pt							{ height:20px; margin:0;}
.kaiser_bm							{ position:relative;}
.kaiser_bm .z						{ font-size:14px; color:#333333; position:absolute; top:5px;}
.kaiser_bm .z b						{ font-weight:normal; float:left;}
.kaiser_bm .z a						{ color:#005bac;}
.wp .pgt							{ float:left;}
.wp .pgb							{ float:left;}
.wp .pgt .pg						{ float:left;}
.pgb a								{ margin-left:0;}
.pgs #newspecial, .pgs #post_reply	{ margin:0 0 0 5px; float:right;}
.pgs #newspecialtmp, .pgs #post_replytmp	{ margin:0 0 0 5px; float:right;}
.pg a.nxt							{ background-image:url(../../../static/image/common/kaiser_arw_r.gif);}
.pgb a								{ background-image:url(../../../static/image/common/kaiser_arw_l.gif);}
#pgt .pg, #pgt .pgb					{ margin-top:26px;}
.kaiser_pgs .pgb, .kaiser_pgs .pg	{ margin-top:19px;}
.kaiser_tr_top						{ background:#FFF url(../../../static/image/common/kaiser_view_top_bg.png) repeat-x; zoom:1;}
.kaiser_pl_bm						{ border:none;}
.kaiser_plc_ptm_pbn_vwthd			{ height:24px;}
.kaiser_plc_ptm_pbn_vwthd a			{ color:#663300;}
.kaiser_hm .xg1						{ color:#000 !important;}
.pls								{ background:#f9f9f9; border-right-color:#d9d9d9;}
.pls .pi							{ border-bottom:none; margin-bottom:0; padding-bottom:0px;}
.kaiser_pls							{ background:#FFF url(../../../static/image/common/kaiser_view_top_bg.png) repeat-x; border-right:0;}
.pls .avatar img					{ background:none; padding:0; border:1px solid #cacaca;}
.kaiser_ext							{ padding:0 0 10px 15px;}
.xl2 li								{ width:69px; height:22px; padding:8px 0 11px 0;}
.kaiser_pm2 a						{ width:63px; height:22px; background:url(../../../static/image/common/kaiser_pmto.png) no-repeat; float:left;}
.kaiser_addflw a					{ width:63px; height:22px; background:url(../../../static/image/common/kaiser_flw.png) no-repeat; float:left;}
#p_btn i, #p_btn a					{ background:none;}
#p_btn a							{ margin-right:0; padding:0; float:none;}
#p_btn img							{ float:none;}

/*列表页*/
/*版主*/
.kaiser_banzhu						{ width:196px; padding:1px; background:#FFF; border:1px solid #f3edda; font-family:"微软雅黑"; float:left;}
.kaiser_banzhu_box					{ width:196px; background:#f7f7ef; overflow:hidden; float:left;}
.kaiser_banzhu_t					{ width:196px; height:45px; text-align:center; font-size:20px; color:#000; line-height:42px; overflow:hidden; float:left;}









