@charset "gb2312";
/* CSS Document */

/*³*/
.bm .z					{ font-family:"ו"; font-size:14px; color:#333333;}
.bm .z b				{ font-weight:normal; float:left;}
.bm .z a				{ color:#005bac;}
.wp .pgt				{ float:left;}
.wp .pgb				{ float:left;}
.wp .pgt .pg			{ float:left;}
.pgb a					{ margin-left:0;}
.pgs #newspecial, .pgs #post_reply{ margin:0 0 0 5px; float:right;}
.pg a.nxt				{ background-image:url(../static/image/common/kaiser_arw_r.gif);}