@charset "gb2312";
/* CSS Document */

/*版主*/
.kaiser_banzhu						{ width:196px; padding:1px; background:#FFF; border:1px solid #f3edda; font-family:"微软雅黑"; float:left;}
.kaiser_banzhu_box					{ width:196px; padding:0 0 10px 0; background:#f7f7ef; overflow:hidden; float:left;}
.kaiser_banzhu_t					{ width:196px; height:45px; text-align:center; font-size:20px; color:#000; line-height:42px; overflow:hidden; float:left;}
.kaiser_banzhu_b					{ width:177px; height:26px; padding:0 0 0 19px; font-size:14px; font-weight:bold; color:#ff6633; overflow:hidden; float:left;}
.kaiser_banzhu_n					{ width:180px; height:45px; margin:0 0 0 8px; display:inline; background:url(../../../static/image/common/kaiser_banzhu_01.png) no-repeat; overflow:hidden; float:left;}
.kaiser_banzhu_n_a					{ width:61px; height:40px; padding:5px 0 0 0; text-align:center; color:#000; line-height:18px; overflow:hidden; float:left;}
.kaiser_banzhu_n_b					{ width:65px; height:40px; padding:5px 0 0 0; text-align:center; color:#000; line-height:18px; overflow:hidden; float:left;}
.kaiser_banzhu_n_c					{ width:54px; height:40px; padding:5px 0 0 0; text-align:center; color:#000; line-height:18px; overflow:hidden; float:left;}
.kaiser_banzhu_n_a em				{ font-size:14px; font-weight:bold; color:#ff6633;}
.kaiser_banzhu_n_b em				{ font-size:14px; font-weight:bold; color:#ff6633;}
.kaiser_banzhu_n_c em				{ font-size:14px; font-weight:bold; color:#ff6633;}

/*版主轮播*/
.leftLoop							{ width:196px; height:162px; overflow:hidden; position:relative;}
.leftLoop .hd						{ width:128px; overflow:hidden; height:30px;}
.leftLoop .hd .prev					{ width:15px; height:15px; overflow:hidden; cursor:pointer; background:url(../../../static/image/common/arw_l.gif) no-repeat; position:absolute; top:50px; left:10px; display:block;}
.leftLoop .hd .prev:hover			{ background-image:url(../../../static/image/common/kaiser_arw_l.gif);}
.leftLoop .hd .next					{ width:15px; height:15px; overflow:hidden; cursor:pointer; background:url(../../../static/image/common/arw_r.gif) no-repeat; position:absolute; top:50px; right:10px; display:block;}
.leftLoop .hd .next:hover 			{ background-image:url(../../../static/image/common/kaiser_arw_r.gif);}
.leftLoop .bd						{ width:122px; height:162px; position:absolute; top:0; left:37px;}
.leftLoop .bd ul					{ width:122px; height:162px; overflow:hidden; zoom:1;}
.leftLoop .bd ul li					{ width:122px; height:162px;}
.leftLoop .bd ul li .pic			{ width:120px; height:120px; border:1px solid #dadada; overflow:hidden; float:left;}
.leftLoop .bd ul li .pic img		{ width:120px; height:120px;}
.leftLoop .bd ul li .title			{ width:122px; height:20px; padding:0; line-height:16px; text-align:center; margin-top:8px; overflow:hidden; float:left;}
.leftLoop .bd ul li .title a		{ font-size:14px; color:#333333; font-weight:bold;}

/*活动*/
.kaiser_huodong						{ width:196px; margin:10px 0 0 0; display:inline; padding:1px; background:#FFF; border:1px solid #f3edda; font-family:"微软雅黑"; float:left;}
.kaiser_huodong_box					{ width:196px; padding:0 0 10px 0; background:#f7f7ef url(../../../static/image/common/kaiser_huodong_01.png) no-repeat left top; overflow:hidden; float:left;}
.kaiser_huodong_m					{ width:196px; height:32px; padding:0 0 0 13px; font-size:14px; font-weight:bold; color:#666666; line-height:32px; overflow:hidden; float:left;}
.kaiser_huodong_p					{ width:160px; height:90px; margin:11px 0 0 18px; display:inline; overflow:hidden; float:left;}
.kaiser_huodong_t					{ width:160px; height:20px; margin:8px 0 0 18px; display:inline; text-align:center; overflow:hidden; float:left;}
.kaiser_huodong_t a					{ color:#000;}

/*下模块*/
.kaiser_other_a						{ width:196px; margin:10px 0 0 0; display:inline; padding:1px; background:#FFF; border:1px solid #f3edda; font-family:"微软雅黑"; float:left;}

/*社区最新活动*/
.kaiser_huodong						{ width:196px; padding:0 0 10px 0; background:#f7f7ef url(../../../static/image/common/kaiser_huodong_01.png) no-repeat left top; overflow:hidden; float:left;}
.kaiser_huodong .title				{ background:none;}
.kaiser_huodong_cont				{ margin:0;}
.kaiser_huodong_cont dl				{ width:160px; margin:13px 0 0 18px; display:inline; float:left;}
.kaiser_huodong_cont dt				{ width:160px; height:auto; background:none; padding:5px 0 0 0; border:none; text-align:center; line-height:20px; overflow:hidden; float:left;}
.kaiser_huodong_cont dt a			{ padding:0; font-weight:normal; color:#000;}
.kaiser_huodong_cont dt a:hover		{ text-decoration:underline;}
.kaiser_huodong_cont .m				{ width:160px; height:90px; margin:0; display:inline; overflow:hidden; float:left;}
.kaiser_huodong_cont dd a			{ height:auto; display:inline; padding:0; margin:0;}

/*热贴排行*/
.kaiser_retie						{ width:196px; padding:0 0 13px 0; background:#f7f7ef url(../../../static/image/common/kaiser_huodong_01.png) no-repeat left top; overflow:hidden; float:left;}
.kaiser_retie .title				{ background:none;}
.kaiser_retie_cont					{ height:240px; margin:0 10px; background:url(../../../static/image/common/kaiser_retie_01.png) no-repeat;}
.kaiser_retie .xl ul li				{ width:153px; height:15px; margin:0; padding:9px 0 0 21px; background:none; overflow:hidden; float:left;}

/*最新热图*/
.kaiser_retu						{ width:196px; padding:0 0 10px 0; background:#f7f7ef url(../../../static/image/common/kaiser_huodong_01.png) no-repeat left top; overflow:hidden; float:left;}
.kaiser_retu .title					{ background:none;}
.kaiser_retu_cont					{ margin:0;}
.kaiser_retu_cont dl				{ width:160px; margin:13px 0 0 18px; display:inline; float:left;}
.kaiser_retu_cont dt				{ width:160px; height:20px; background:none; border:none; padding:5px 0 0 0; text-align:center; line-height:20px; overflow:hidden; float:left;}
.kaiser_retu_cont dt a				{ padding:0; font-weight:normal; color:#000;}
.kaiser_retu_cont dt a:hover		{ text-decoration:underline;}
.kaiser_retu_cont .m				{ width:160px; height:120px; margin:0; display:inline; overflow:hidden; float:left;}
.kaiser_retu_cont dd a				{ height:auto; display:inline; padding:0; margin:0;}

/*推荐*/
.kaiser_tuijian						{ width:680px; margin:29px 0 0 0; display:inline; border:none; overflow:hidden; float:left;}
.kaiser_tuijian_cont				{ margin:0;}
.kaiser_tuijian_cont .xl1 ul li		{ width:84px; height:24px; margin:0 10px 0 0; display:inline; padding:0; background:none; border:none; line-height:23px; overflow:hidden; float:left;}
.kaiser_tuijian_cont .xl1 ul li a	{ width:82px; height:22px; background:#FFF; border:1px solid #cfcfcf; text-align:center; font-size:12px; color:#000; overflow:hidden; float:left;}
.kaiser_tuijian_cont .xl1 ul li a:hover{ background:#ecf8ff; border:1px solid #0080cc; color:#0080cc; text-decoration:none;}

/*本版推荐*/
.kaiser_list_benban_cont			{ width:321px; height:118px; margin:0; margin:13px 0 12px 9px; display:inline; overflow:hidden; float:left;}
.kaiser_list_benban_cont dl			{ width:321px; height:118px; overflow:hidden; float:left;}
.kaiser_list_benban_cont dt			{ width:161px; height:118px; padding:0 0 0 10px; font-weight:normal; float:left;}
.kaiser_list_benban_cont dd			{ width:120px; height:118px; margin:0 0 0 19px; display:inline; overflow:hidden; float:left;}
.kaiser_list_benban_cont dd em		{ width:120px; height:90px; overflow:hidden; float:left;}
.kaiser_list_benban_cont dd i		{ width:120px; height:24px; text-align:center; line-height:28px; overflow:hidden; float:left;}
.kaiser_list_benban_cont dd i a		{ color:#000;}
.kaiser_list_benban_cont dt em		{ width:161px; height:75px; color:#000; line-height:24px; overflow:hidden; float:left;}
.kaiser_list_benban_cont dt em b	{ font-size:14px; color:#ff0000;}
.kaiser_list_benban_cont dt i		{ width:161px; height:42px; color:#666666; line-height:20px; overflow:hidden; float:left;}