<!--{template common/register_header}-->
<form method="post" autocomplete="off" id="lsform" action="member.php?mod=logging&action=login&loginsubmit=yes&infloat=yes&lssubmit=yes" onSubmit="{if $_G['setting']['pwdsafety']}pwmd5('ls_password');{/if}return lsSubmit();">
<dl class="index_header"><!--整体头部-->
	<dt><a href="http://we54.com/">新青年首页</a></dt>
  <dd><!-- <h2><a href="#" target="_blank">帮助</a></h2> -->
	
	  <!--{if $_G['uid']}-->
	  <h1><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a>
	  <!--{if $_G['group']['allowinvisible']}-->
		<span id="loginstatus">
			<a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onClick="ajaxget(this.href, 'loginstatus');return false;" class="xi2"></a>
		</span>
	  <!--{/if}-->
      <!--{hook/global_usernav_extra1}-->
		<span class="pipe">|</span><!--{hook/global_usernav_extra4}--><a href="home.php?mod=spacecp">{lang setup}</a>
		<span class="pipe">|</span><a href="home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center}</a>
		<span class="pipe">|</span><a href="home.php?mod=space&do=notice" id="myprompt">{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>
		<!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--><span class="pipe">|</span><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a><!--{/if}-->
		<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
			<span class="pipe">|</span><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
		<!--{/if}-->
		<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
			<span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
		<!--{/if}-->
		<!--{hook/global_usernav_extra2}-->
		<span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
	  </h1>
	 <!--{elseif !$_G[connectguest]}-->

	  <h1>您好！欢迎来到新青年网社区 请 <em>[</em><a href="member.php?mod=logging&action=login&infloat=yes&handlekey=login&ajaxtarget=fwin_content_login">登录</a><em>]</em> 或 <em>[</em><a href="member.php?mod={$_G[setting][regname]}">免费注册</a><em>]</em></h1>
	  
	   <!--{/if}-->
	
  </dd>
</dl>
</form>
<div class="box">
    <div class="login_header"><!--子页头部-->
        <em>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,19,0" width="250" height="70" title="Hi">
				<param name="movie" value="{$_G[siteurl]}template/we54/common/images/logo.swf">
				<param name="quality" value="high">
				<embed  src="{$_G[siteurl]}template/we54/common/images/logo.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="250" height="70"></embed>
		   </object>
        </em>
        <ul>
            <li><!-- {if $_GET[mod]!='sms'} --><a href="#"><!-- {/if} -->联系客服<!-- {if $_GET[mod]!='sms'} --></a><!-- {/if} --></li>
            <li><!-- {if $_GET[mod]!='sms'} --><a href="member.php?mod=sms&action=bindmobile"><!-- {/if} -->认证会员<!-- {if $_GET[mod]!='sms'} --></a><!-- {/if} --></li>
            <li><!-- {if $_GET[mod]!='register'} --><a href="member.php?mod={$_G[setting][regname]}"><!-- {/if} -->注册账号<!-- {if $_GET[mod]!='register'} --></a><!-- {/if} --></li>
            <li><!-- {if $_GET[mod]!='logging'} --><a href="member.php?mod=logging&action=login&infloat=yes&handlekey=login&ajaxtarget=fwin_content_login"><!-- {/if} -->登录<!-- {if $_GET[mod]!='logging'} --></a><!-- {/if} --></li>
        </ul>
    </div>
</div>