<!--{template common/register_head}-->
<div class="register_box">
    <div class="register"><!--注册-->
        <span><img src="{$_G[siteurl]}template/we54/common/images/register_03_nav.png" /></span>
        <ol>
        	<li>
            	<a href="home.php?mod=spacecp"><img src="{$_G[siteurl]}template/we54/common/images/register_03_btn_01.png" /></a>
                <em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;完善您的资料，可以让我们更好的为您提供服务，我们会保证您的资料安全。</em>
            </li>
            <li>
            	<a href="/forum.php"><img src="{$_G[siteurl]}template/we54/common/images/register_03_btn_02.png" /></a>
                <em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还等什么！？赶快加入到社区的讨论中去吧！</em>
            </li>
        </ol>
    </div>
</div>
<!--{template common/register_footer}-->