<!--{template common/register_head}-->
<script src="{$_G[siteurl]}template/we54/common/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{$_G[siteurl]}template/we54/common/js/common_add.js?{VERHASH}"></script>
<script type="text/javascript" src="{$_G[siteurl]}template/we54/common/js/vertify.js?{VERHASH}"></script>

<div class="register_box">
    <div class="register"><!--注册-->
        <span><img src="{$_G[siteurl]}template/we54/common/images/register_02_nav.png" /></span>
	<form id="bindmobileform" name="bindmobileform" action="member.php?mod=$regname&action=bindmobile" method="post" autocomplete="off" onsubmit="$('flag').value = '1';subvertifycode(this.id,'tip_$_G[gp_handlekey]','$dreferer');return false;">
        <dl class="register_02">
		<input type="hidden" name="refer" value="home.php?mod=space&uid=$space[uid]&do=bindmobile" />
		<input type="hidden" id="flag" name="flag" value="1" />
		<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
		<input type="hidden" name="bindmobilesubmit" value="true" />
		<!--{if $_G[inajax]}--><input type="hidden" name="handlekey" value="$_G[gp_handlekey]" /><!--{/if}-->
            <dt>
            	<label for="phone"><tt>*</tt> 手机号码：</label><input type="text" id="newmobile" name="newmobile" tabindex="1" onfocus="this.className='input_on';this.onmouseout=''" onblur="this.className='';this.onmouseout=function(){this.className=''};" onmousemove="this.className='input_on'" onmouseout="this.className=''" />
                <button type="button" id="myphone" name="note" value="true" tabindex="2" onclick="getbindverifycode();"></button>
				<div id="myauth"  style="display:none;">{lang smstong:smstong_mobilereg_verifycode_other}</div>
            </dt>
			<dt class="mobile_msg">
				<kbd id="return_$_G[gp_handlekey]" class="p_chk" ></kbd>
			</dt>
            <dt>
            	<label for="check"><tt>*</tt> 验证码：</label><input type="text" id="verifycode" name="verifycode" tabindex="3" onfocus="this.className='input_on';this.onmouseout=''" onblur="this.className='';this.onmouseout=function(){this.className=''};" onmousemove="this.className='input_on'" onmouseout="this.className=''" />
                <em>请输入手机验证码</em>
            </dt>
			<dt class="mobile_msg">
				<kbd id="tip_$_G[gp_handlekey]" class="p_chk" ></kbd>
			</dt>
        </dl>
        <b><button type="submit"  name="bindmobilesubmit_btn" id="bindmobilesubmit_btn" value="true" tabindex="4"><strong style="display:none;">{lang smstong:smstong_mobilebind_submit}</strong></button><a href="member.php?mod=regend&o=$dreferer" tabindex="5"></a></b>
	</form>
	
    </div>
</div>
<!--{if $_G[inajax]}-->
<script type="text/javascript">
	function succeedhandle_$_G['gp_handlekey'](url, message, values) {
		alert(url);
		$('return_$_G[gp_handlekey]').innerHTML = message + " <a href='javascript:;' onclick='location.reload()'>{lang smstong:smstong_mobilebind_submit_refresh}</a>";
		setTimeout('location.href = location.href', 3000);
	}
</script>
<!--{/if}-->
<script type="text/javascript" reload="1">

var intval	= null;

<!--{if ($verifycodes[getip] == $_G[clientip]) && ($interval <= $mobilegap)}-->
	var timeRemain = parseInt('$lastsecond');
	var waitTime = parseInt('$lastsecond');
<!--{else}-->
	var timeRemain = parseInt('$_G["cache"]["plugin"]["smstong"]["mobilegap"]');
	var waitTime = parseInt('$_G["cache"]["plugin"]["smstong"]["mobilegap"]');
<!--{/if}-->

function getbindverifycode() {
	var newmobile = trim($('newmobile').value);
	if(newmobile == '') {
		$('return_$_G[gp_handlekey]').innerHTML = "{lang smstong:smstong_mobilereg_mobile_empty}";
		$('newmobile').focus();
	} else {
		$('flag').value = "2";
		ajaxpost('bindmobileform', 'return_$_G[gp_handlekey]');

		setInterval(checkbindverifycode,1000);
	}
}

function checkbindverifycode() {
	if ($('return_$_G[gp_handlekey]').innerHTML.indexOf('{lang smstong:smstong_mobilereg_sendsms_succeed}') != -1)
	{
	//	$('mobileNumber').innerHTML = trim($('newmobile').value);
		$('myphone').style.visibility = "hidden";
		$('myauth').style.display = "";	
		if(intval == null) intval = setInterval(setchecktime,1000);
	}
}

function trim(str) {
	return str.replace(/^\s*(.*?)[\s\n]*$/g, '$1');
}

function setchecktime() {
	timeRemain -= 1;
	if (timeRemain > 0) {
		if ($('timeRemainTips')) $("timeRemainTips").innerHTML = '<strong><font color="red">'+timeRemain+'{lang smstong:smstong_mobilereg_checktime_second}</font>{lang smstong:smstong_mobilereg_checktime_after}</strong>';
		if ($('timeRemainTips')) $("modifyMobile").innerHTML = '';
		if ($('timeRemainTips')) $("timeRemainTips").disabled = true;
	} else {
		clearInterval(intval);
		intval = null;
	//	timeRemain = waitTime;
		$("timeRemainTips").disabled = false;
		$("timeRemainTips").innerHTML = '<strong>{lang smstong:smstong_mobilereg_checktime_retry}</strong>';
		$("modifyMobile").innerHTML = '<a href="javascript:;" >{lang smstong:smstong_mobilereg_checktime_change}</a>';
		$("modifyMobile").onclick = function() {
			$("modifyMobile").innerHTML = '';
			$('myphone').style.display = '';
			$('myauth').style.display = 'none';
			$("timeRemainTips").innerHTML = '<strong><font color="red">$_G["cache"]["plugin"]["smstong"]["mobilegap"]{lang smstong:smstong_mobilereg_checktime_second}</font>{lang smstong:smstong_mobilereg_checktime_after}</strong>';
			return false;
		}
		$("timeRemainTips").onclick = function() {
		//	if (timeRemain == waitTime || timeRemain == 0) {
				getbindverifycode();
				timeRemain = waitTime;
		//	}	
		}
	}
}
//----------add---------------------------
/*function subvertifycode(formid){
	var action = $(formid).getAttribute('action');
	action = hostconvert(action);
	$(formid).action = action.replace(/\&inajax\=1/g, '');	
	$(formid).submit();
}*/
<!--{if ($verifycodes[getip] == $_G[clientip]) && ($interval <= $mobilegap)}-->
	$('mobileNumber').innerHTML = "$sendedmobile";
	$('myphone').style.display = "none";
	$('myauth').style.display = "";	
	$("timeRemainTips").disabled = true;
	$("timeRemainTips").innerHTML = '<strong><font color="red">'+timeRemain+'{lang smstong:smstong_mobilereg_checktime_second}</font>{lang smstong:smstong_mobilereg_checktime_after}</strong>';
	if(intval == null) intval = setInterval(setchecktime,1000);
<!--{/if}-->

</script>
<!--{template common/register_footer}-->