<!--{subtemplate common/header_common_portal}-->
	
	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
		<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if widthauto()}-->
		<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
		<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
	<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'portal'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{/if}-->
    <link href="template/we54/portal/header.css" rel="stylesheet" type="text/css" />
    <link href="template/we54/portal/portal_bbs.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
    <script src="template/we54/js/logging.js" type="text/javascript"></script>
	<script src="template/we54/js/jquery-1.4.2.js" type="text/javascript"></script>
	<script src="template/we54/js/focus.js" type="text/javascript"></script>
	
	<script type="text/javascript">
	var jq = jQuery.noConflict(); 
    jq(document).ready(function(){
      
      jq("#ss, #show").hover(function(){
      jq(".main_nav").show();
      },function (){jq(".main_nav").hide();});
    
    });
    </script>
	
    <script type="text/javascript">
	var jq = jQuery.noConflict();
	jq(document).ready(function(){
	  
	  jq("#bk, #ycbk").hover(function(){
	  jq(".nav_three").show();
	  },function (){jq(".nav_three").hide();});
	
	});
	</script>

	
    
    <!--幻灯片JS-->
	<script type="text/javascript" language="javascript"> 	
        jq(document).ready(function(){
		  jq(".hdp_01, .hdp_01_display").hover(function(){
		  jq(".hdp_01_display").show();
		  },function (){jq(".hdp_01_display").hide();});
		  
		  jq(".hdp_02, .hdp_02_display").hover(function(){
		  jq(".hdp_02_display").show();
		  },function (){jq(".hdp_02_display").hide();});
		  
		  jq(".hdp_03, .hdp_03_display").hover(function(){
		  jq(".hdp_03_display").show();
		  },function (){jq(".hdp_03_display").hide();});
		  
		  jq(".hdp_04, .hdp_04_display").hover(function(){
		  jq(".hdp_04_display").show();
		  },function (){jq(".hdp_04_display").hide();});
			
		  jq(".hdp_05, .hdp_05_display").hover(function(){
		  jq(".hdp_05_display").show();
		  },function (){jq(".hdp_05_display").hide();});
		  
		  jq(".hdp_06, .hdp_06_display").hover(function(){
		  jq(".hdp_06_display").show();
		  },function (){jq(".hdp_06_display").hide();});
		  
		  jq(".hdp_07, .hdp_07_display").hover(function(){
		  jq(".hdp_07_display").show();
		  },function (){jq(".hdp_07_display").hide();});
		  
		  jq(".hdp_08, .hdp_08_display").hover(function(){
		  jq(".hdp_08_display").show();
		  },function (){jq(".hdp_08_display").hide();});
		  
		  jq(".hdp_09, .hdp_09_display").hover(function(){
		  jq(".hdp_09_display").show();
		  },function (){jq(".hdp_09_display").hide();});
		  
		  jq(".hdp_10, .hdp_10_display").hover(function(){
		  jq(".hdp_10_display").show();
		  },function (){jq(".hdp_10_display").hide();});

		  jq(".hdp_11, .hdp_11_display").hover(function(){
		  jq(".hdp_11_display").show();
		  },function (){jq(".hdp_11_display").hide();});

		  jq(".hdp_12, .hdp_12_display").hover(function(){
		  jq(".hdp_12_display").show();
		  },function (){jq(".hdp_12_display").hide();});

		  jq(".hdp_13, .hdp_13_display").hover(function(){
		  jq(".hdp_13_display").show();
		  },function (){jq(".hdp_13_display").hide();});

		  jq(".hdp_14, .hdp_14_display").hover(function(){
		  jq(".hdp_14_display").show();
		  },function (){jq(".hdp_14_display").hide();});
			
		  jq(".wopic01, .wopic_display01").hover(function(){
		  jq(".wopic_display01").show();
		  },function (){jq(".wopic_display01").hide();});
		  
		  jq(".wopic02, .wopic_display02").hover(function(){
		  jq(".wopic_display02").show();
		  },function (){jq(".wopic_display02").hide();});
		  
		  jq(".wopic03, .wopic_display03").hover(function(){
		  jq(".wopic_display03").show();
		  },function (){jq(".wopic_display03").hide();});
		  
		  jq(".wopic04, .wopic_display04").hover(function(){
		  jq(".wopic_display04").show();
		  },function (){jq(".wopic_display04").hide();});
		  
		  jq(".wopic05, .wopic_display05").hover(function(){
		  jq(".wopic_display05").show();
		  },function (){jq(".wopic_display05").hide();});
		  
		  jq(".wopic06, .wopic_display06").hover(function(){
		  jq(".wopic_display06").show();
		  },function (){jq(".wopic_display06").hide();});
		});
    </script>
    
    <script language="javascript">
	jq(function(){
	  //当鼠标滑入时将div的class换成divOver
	  jq('.nav').hover(function(){
		jq(this).addClass('divOver');  
	   },function(){
		//鼠标离开时移除divOver样式
		jq(this).removeClass('divOver'); 
	   }
	  );
	});
	</script> 

</head>

<body id="nv_{$_G[basescript]}" class="pg_{CURMODULE}{if $_G['basescript'] === 'portal' && CURMODULE === 'list' && !empty($cat)} {$cat['bodycss']}{/if}" onkeydown="if(event.keyCode==27) return false;">
<div class="box_wai">
	<div id="append_parent"></div><div id="ajaxwaitid"></div>
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<!--{template common/header_diy}-->
	<!--{/if}-->
	<!--{if check_diy_perm($topic)}-->
		<!--{block diynav}-->
			<a id="diy-tg" href="javascript:openDiy();" title="{lang open_diy}" class="xi1 xw1" onMouseOver="showMenu(this.id)"><img src="{STATICURL}image/diy/panel-toggle.png" alt="DIY" /></a>
			<div id="diy-tg_menu" style="display: none;">
				<ul>
					<li><a href="javascript:saveUserdata('diy_advance_mode', '');openDiy();" class="xi2">{lang header_diy_mode_simple}</a></li>
					<li><a href="javascript:saveUserdata('diy_advance_mode', '1');openDiy();" class="xi2">{lang header_diy_mode_adv}</a></li>
				</ul>
			</div>
		<!--{/block}-->
	<!--{/if}-->
	<!--{if CURMODULE == 'topic' && $topic && empty($topic['useheader']) && check_diy_perm($topic)}-->
		$diynav
	<!--{/if}-->
	<!--{if empty($topic) || $topic['useheader']}-->
		<!--{if $_G['setting']['mobile']['allowmobile'] && (!$_G['setting']['cacheindexlife'] && !$_G['setting']['cachethreadon'] || $_G['uid']) && ($_GET['diy'] != 'yes' || !$_GET['inajax']) && ($_G['mobile'] != '' && $_G['cookie']['mobile'] == '' && $_GET['mobile'] != 'no')}-->
			<div class="xi1 bm bm_c">
			    {lang your_mobile_browser}<a href="{$_G['siteurl']}forum.php?mobile=yes">{lang go_to_mobile}</a> <span class="xg1">|</span> <a href="$_G['setting']['mobile']['nomobileurl']">{lang to_be_continue}</a>
			</div>
		<!--{/if}-->

		<div id="toptb" class="cl">
			<!--{hook/global_cpnav_top}-->
			<div class="wp">
                <div class="zzz">
                    <a onClick="setHomepage('http://bbs.we54.com');" href="javascript:;">设为首页</a> | <a onClick="addFavorite(this.href, '大连论坛&mdash;&mdash;新青年论坛');return false;" href="http://bbs.we54.com">收藏本站</a>
                </div>
            
            	<div class="nav" id="show">
                    <div class="main_nav" id="ss"><!--顶部主导航-->
                        <div class="zx_nav">
                            <div class="zx_nav_bg01"></div>
                            <div class="zx_sec_nav">
                                <span><a href="http://news.we54.com/" target="_blank">资讯</a></span><div class="tyty">|</div><span><a href="http://news.we54.com/we54/dlnhzt/wq" target="_blank">专题</a></span><div class="tyty">|</div><span><a href="http://pic.we54.com/" target="_blank">图片</a></span><div class="tyty">|</div><span><a href="http://opinion.we54.com/" target="_blank">评论</a></span><span><a href="http://video.we54.com/" target="_blank">视频</a></span><div class="tyty">|</div><span><a href="http://news.we54.com/plus/list.php?tid=931" target="_blank">独家</a></span><div class="tyty">|</div><span><a href="http://video.we54.com/xqnsppd/pdylsp/index.html" target="_blank">娱乐</a></span><div class="tyty">|</div><span><a href="http://video.we54.com/xqnsppd/pdwshsp/index.html" target="_blank">访谈</a></span>
                            </div>
                        </div>
                        
                        <div class="hd_nav">
                            <div class="zx_nav_bg02"></div>
                            <div class="zx_sec_nav">
                                <span><a href="http://moda.we54.com/" target="_blank">美达</a></span><div class="tyty">|</div><span><a href="http://54class.we54.com/" target="_blank">五年四班</a></span><div class="tyty">|</div><span><a href="http://lichi.we54.com/" target="_blank">荔枝先生</a></span><span><a href="/forum-898-1.html" target="_blank">活动</a></span><div class="tyty">|</div><span><a href="http://news.we54.com/xqnsppd/pdwshsp/index.html" target="_blank">原创节目</a></span><div class="tyty">|</div><span><a href="http://pub.we54.com/" target="_blank">非常夜店</a></span>
                            </div>
                        </div>  
                        
                        <div class="zx_nav">
                            <div class="zx_nav_bg03"></div>
                            <div class="zx_sec_nav">
                                <span><a href="http://house.we54.com/" target="_blank">房产</a></span><div class="tyty">|</div><span><a href="http://licai.we54.com/" target="_blank">理财</a></span><div class="tyty">|</div><span><a href="http://auto.we54.com/" target="_blank">爱车</a></span><div class="tyty">|</div><span><a href="http://uni.we54.com/" target="_blank">高校</a></span><span><a href="http://eat.we54.com/" target="_blank">美食</a></span><div class="tyty">|</div><span><a href="http://edu.we54.com/" target="_blank">教育</a></span><div class="tyty">|</div><span><a href="http://travel.we54.com" target="_blank">旅游</a></span><div class="tyty">|</div><span><a href="http://baby.we54.com/" target="_blank">早教</a></span>
                            </div>
                        </div> 
                        
                        <div class="sq_nav">
                            <div class="zx_nav_bg04"></div>
                            <div class="sq_sec_nav">
                                <span><a href="http://bbs.we54.com/" target="_blank">社区</a></span><div class="tyty">|</div><span><a href="/forum-743-1.html" target="_blank">大连你好</a></span><div class="tyty">|</div><span><a href="/forum-900-1.html" target="_blank">不惜泡吧</a></span><div class="tyty">|</div><span><a href="/forum-269-1.html" target="_blank">偶秀偶拍</a></span><span><a href="http://bbs.we54.com/bbs_cms/a/luntan/ltjh/index.html" target="_blank">精华</a></span><div class="tyty">|</div><span><a href="/forum-747-1.html" target="_blank">纯粹女人</a></span><div class="tyty">|</div><span><a href="/forum-974-1.html" target="_blank">亲亲宝贝</a></span><div class="tyty">|</div><span><a href="/forum-960-1.html" target="_blank">视频社区</a></span>
                            </div>
                        </div>  
                    </div>
                </div>
            	<form method="post" autocomplete="off" id="lsform" action="member.php?mod=logging&action=login&loginsubmit=yes&infloat=yes&lssubmit=yes" onSubmit="{if $_G['setting']['pwdsafety']}pwmd5('ls_password');{/if}return lsSubmit();">
                <!--{if $_G['uid']}-->
                <div id="um" style=" float:right;">
                    <p>
                        <strong class="vwmy{if $_G['setting']['connect']['allow'] && $_G[member][conisbind]} qq{/if}"><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a></strong>
                        <!--{if $_G['group']['allowinvisible']}-->
                        <span id="loginstatus">
                            <a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onClick="ajaxget(this.href, 'loginstatus');return false;" class="xi2"></a>
                        </span>
                        <!--{/if}-->
                        <!--{hook/global_usernav_extra1}-->
                        <span class="pipe">|</span><!--{hook/global_usernav_extra4}--><a href="home.php?mod=spacecp">{lang setup}</a>
                        <span class="pipe">|</span><a href="home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center}</a>
                        <span class="pipe">|</span><a href="home.php?mod=space&do=notice" id="myprompt"{if $_G[member][newprompt]} class="new"{/if}>{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>
                        <!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--><span class="pipe">|</span><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a><!--{/if}-->
                        <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
                            <span class="pipe">|</span><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
                        <!--{/if}-->
                        <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
                            <span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
                        <!--{/if}-->
                        <!--{hook/global_usernav_extra2}-->
                        <span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
                    </p>
                </div>
                <!--{elseif !$_G[connectguest]}-->
                <div class="dl_zc">
                    您好！欢迎来到新青年网站论坛 请 <a href="member.php?mod=logging&action=login&infloat=yes&handlekey=login&ajaxtarget=fwin_content_login" class="xi2">[登录]</a> 或 <a href="member.php?mod={$_G[setting][regname]}" class="xi2 xw1" style="font-weight:normal;">[免费注册]</a>
                </div>
                <!--{/if}-->
                </form>
                <div class="y kaiser_y" style=" margin-top:8px; margin-right:10px;">
                    <!--{hook/global_cpnav_extra2}-->
                    <!--{loop $_G['setting']['topnavs'][1] $nav}-->
                        <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->$nav[code]<!--{/if}-->
                    <!--{/loop}-->
                    <!--{if empty($_G['disabledwidthauto']) && $_G['setting']['switchwidthauto']}-->
                        <a href="javascript:;" onClick="widthauto(this)"><!--{if widthauto()}-->{lang switch_narrow}<!--{else}-->{lang switch_wide}<!--{/if}--></a>
                    <!--{/if}-->
                    <!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}--><a id="sslct" href="javascript:;" onMouseOver="delayShow(this, function() {showMenu({'ctrlid':'sslct','pos':'34!'})});">{lang changestyle}</a><!--{/if}-->
                    <!--{if check_diy_perm($topic)}-->
                        $diynav
                    <!--{/if}-->
                </div>
               
                <div class="top_ad">
                    <a><img src="/template/we54/por_images/head_ad.jpg" width="1000" height="126" border="0"/></a>
                </div>

                
                <div class="nav_st">
                    <div class="nav_second">
                        <div class="nav_nav">
                            <span onMouseOver="this.style.background='url(/template/we54/por_images/size_bg.jpg) repeat-x'" onMouseOut="this.style.background=''"><a href="/portal.php">社区入口</a></span>
                            <span onMouseOver="this.style.background='url(/template/we54/por_images/size_bg.jpg) repeat-x'" onMouseOut="this.style.background=''"><a href="/forum-743-1.html">大连你好</a></span>
                            <span onMouseOver="this.style.background='url(/template/we54/por_images/size_bg.jpg) repeat-x'" onMouseOut="this.style.background=''"><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=768">社区精华</a></span>
                            <span onMouseOver="this.style.background='url(/template/we54/por_images/size_bg.jpg) repeat-x'" onMouseOut="this.style.background=''"><a href="http://weibo.com/we54" target="_blank">社区微博</a></span>
                        </div>
                        <!--{if $_G['setting']['search']}-->
                        <form id="scbar_form" method="{if $_G[fid] && !empty($searchparams[url])}get{else}post{/if}" autocomplete="off" onSubmit="searchFocus($('scbar_txt'))" action="{if $_G[fid] && !empty($searchparams[url])}$searchparams[url]{else}search.php?mod=forum&searchsubmit=yes{/if}" target="_blank">
                            <input type="hidden" name="mod" id="scbar_mod" value="forum" />
                            <input type="hidden" name="formhash" value="{FORMHASH}" />
                            <input type="hidden" name="srchtype" value="title" />
                            <input type="hidden" name="srhfid" value="$_G[fid]" />
                            <input type="hidden" name="srhlocality" value="$_G['basescript']::{CURMODULE}" />
                            <!--{if !empty($searchparams[params])}-->
                                <!--{loop $searchparams[params] $key $value}-->
                                <!--{eval $srchotquery .= '&' . $key . '=' . rawurlencode($value);}-->
                                <input type="hidden" name="$key" value="$value" />
                                <!--{/loop}-->
                                <input type="hidden" name="source" value="discuz" />
                                <input type="hidden" name="fId" id="srchFId" value="$_G[fid]" />
                                <input type="hidden" name="q" id="cloudsearchquery" value="" />
                            <!--{/if}-->
                    
                            <input style="border:none;" type="text" name="srchtxt" id="scbar_txt" value="{lang enter_content}" onFocus="if (value =='{lang enter_content}'){value =''}" onBlur="if (value ==''){value='{lang enter_content}'}" class="ggg" autocomplete="off" x-webkit-speech speech />
                            <button style="border:none;" type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="aaa" value="true"></button>
                        </form>
                        <!--{/if}-->
                    </div>
                
                    <div class="nav_three"><!--三级导航-->
                        <ul>
                                    <li><a href="/forum-743-1.html" target="_blank" style="color:#ff6600">大连你好</a></li>
                                    <li><a href="/forum-900-1.html" target="_blank" style="color:#ff6600">不惜泡吧</a></li>
                                    <li><a href="/forum-903-1.html" target="_blank">大连之恋 </a></li>
                                    <li><a href="/forum-747-1.html" target="_blank" style="color:#ff6600">纯粹女人</a></li>
                                    <li><a href="/forum-1000-1.html" target="_blank" style="color:#ff6600">婚纱写真</a></li>
                                    <li><a href="/forum-940-1.html" target="_blank">非常夜店</a></li>
                                    <li><a href="/forum-964-1.html" target="_blank">君子爱财</a></li>
                                    <li><a href="/forum-993-1.html" target="_blank">寻医问诊</a></li>
                                    <li><a href="/forum-909-1.html" target="_blank">买房卖房</a></li>
                                    <li><a href="/forum-791-1.html" target="_blank">谈车论驾</a></li>
                                    <li><a href="/forum-269-1.html" target="_blank" style="color:#ff6600">偶秀偶拍</a></li>
                                    <li><a href="/forum-929-1.html" target="_blank">败家报告</a></li>
                                    <li><a href="/forum-974-1.html" target="_blank">妈 妈 团</a></li>
                                    <li><a href="/forum-959-1.html" target="_blank">好片同享</a></li>
                                    <li><a href="/forum-921-1.html" target="_blank">五四宜家人</a></li>
                                    <li><a href="/forum-992-1.html" target="_blank">法律咨询</a></li>
                                    <li><a href="/forum-931-1.html" target="_blank">饭统大连</a></li>
                                    <li><a href="/forum-966-1.html" target="_blank">人在旅途</a></li>
                                    <li><a href="/forum-898-1.html" target="_blank">欢乐时光</a></li>
                                    <li><a href="/forum-941-1.html" target="_blank">两性咨询</a></li>
                                    <li><a href="/forum-968-1.html" target="_blank">教育培训</a></li>
                                    <li><a href="/forum-962-1.html" target="_blank">体坛风云</a></li>
                                    <li><a href="/forum-705-1.html" target="_blank" style="color:#ff6600">淘宝大连街</a></li>
                                    <li><a href="/forum-973-1.html" target="_blank">官方版务</a></li>
                                </ul> 
                    </div>
                </div>
               	
                <div class="ad03_ad04">  
                     <div class="ad03"><!--{ad/custom_9}--></div>
                     <div class="ad04"><!--{ad/custom_10}--></div>
                </div> 
			</div>
		</div>

		<!--{if !IS_ROBOT}-->
			<!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}-->
				<div id="sslct_menu" class="cl p_pop" style="display: none;">
					<!--{if !$_G[style][defaultextstyle]}--><span class="sslct_btn" onClick="extstyle('')" title="{lang default}"><i></i></span><!--{/if}-->
					<!--{loop $_G['style']['extstyle'] $extstyle}-->
						<span class="sslct_btn" onClick="extstyle('$extstyle[0]')" title="$extstyle[1]"><i style='background:$extstyle[2]'></i></span>
					<!--{/loop}-->
				</div>
			<!--{/if}-->

				<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
					<!--{if $_G['uid']}-->
					<ul>
						<!--{loop $_G['setting']['mynavs'] $nav}-->
							<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
								<li>$nav[code]</li>
							<!--{/if}-->
						<!--{/loop}-->
					</ul>
					<!--{elseif $_G[connectguest]}-->
						<div class="ptm pbw hm">
							{lang connect_fill_profile_to_visit}
						</div>
					<!--{else}-->
						<div class="ptm pbw hm">
							{lang my_nav_login}
						</div>
					<!--{/if}-->
				</div>
		<!--{/if}-->

		

		<!--{hook/global_header}-->
	<!--{/if}-->

	<div id="wp" class="wp">