<!--{subtemplate portal/header}-->
<style id="diy_style" type="text/css"></style>

	
    
    <div class="NO1_moduble"><!--第一板块-->
  		<div class="NO1_moduble_left"><!--第一板块左侧-->
  			<div class="NO1_moduble_left_l">	
  				<div id="left_focus"><!--焦点图-->	
                     <div class="sub_box">
                          <div id="p-select" class="sub_nav">
                            <div class="sub_no" id="bd1lfsj">
                              <ul>
                                <li class="show">1</li>
                                <li class="">2</li>
                                <li class="">3</li>
                              </ul>
                            </div>
                          </div>
                          <!--[diy=show_fou_tt]--><div id="show_fou_tt" class="area"></div><!--[/diy]-->
                        </div>
                        <script type="text/javascript">movec();</script>
                </div>
  
  				<div class="life_guide"><!--生活向导-->
  					<div class="life_title"></div>
  					<ul class="life_logo">
            			<li><p><a href="http://house.we54.com/" target="_blank"></a></p></li>
            			<li><i><a href="/forum-909-1.html" target="_blank"></a></i></li>
            			<li><em><a href="http://www.weather.com.cn/liaoning/dalian/index.shtml" target="_blank"></a></em></li>
            			<li><b><a href="/forum-959-1.html" target="_blank"></a></b></li>
                    	<li><span><a href="http://auto.we54.com/" target="_blank"></a></span></li>
                        <li><strong><a href="http://news.we54.com/" target="_blank"></a></strong></li>
                    </ul>
            		
                    <ul class="life_news">
            			<!--[diy=xiangdao_news]--><div id="xiangdao_news" class="area"></div><!--[/diy]-->
                    </ul>

            	</div>
            </div>
  
  			<div class="NO1_moduble_left_r">	 
        		<div class="news_shequ">
        			<dl>
            			<!--[diy=bankuai01_topnews]--><div id="bankuai01_topnews" class="area"></div><!--[/diy]-->
                    </dl>
            		
                    <ul>
            			<!--[diy=bankuai01_endnews]--><div id="bankuai01_endnews" class="area"></div><!--[/diy]-->
            		</ul>
            	</div>
            
            	<div class="news_shequ">
        			<dl>
            			<!--[diy=bankuai01_topnews_01]--><div id="bankuai01_topnews_01" class="area"></div><!--[/diy]-->
                    </dl>
            		
                    <ul>
            			<!--[diy=bankuai01_endnews_01]--><div id="bankuai01_endnews_01" class="area"></div><!--[/diy]-->
            		</ul>
            	</div>
            </div>
        </div>
  
  		<div class="NO1_moduble_right"><!--第一板块右侧-->
  			<div class="bbs_active"><!--社区活动-->
  				<div class="active_title"></div>
  				<div class="active_in">
  					<!--[diy=shequhuodong]--><div id="shequhuodong" class="area"></div><!--[/diy]-->
  				</div>
  
  				<ul>
  					<!--[diy=shequhuodong_news]--><div id="shequhuodong_news" class="area"></div><!--[/diy]-->
                </ul>
  			</div>
  
  			<div class="bbs_saoke"><!--社区骚客-->
  				<div class="saoke_title"></div>
                <div class="soake_ziliao">
  					<!--[diy=bbs_saoke_h]--><div id="bbs_saoke_h" class="area"></div><!--[/diy]-->
  				</div>
                <div class="saoke_tiezi">
                    <!--[diy=bbs_saoke_z]--><div id="bbs_saoke_z" class="area"></div><!--[/diy]-->
                </div>
  			</div>
  		</div>
  	</div>
  
  	<div class="NO2_moduble"><!--第二板块-->
  		<div class="NO2_moduble_left"><!--第二板块左侧-->
  			<div class="hdp_01_02">
  				<!--[diy=huandengpian_01]--><div id="huandengpian_01" class="area"></div><!--[/diy]-->
  				<!--[diy=huandengpian_2]--><div id="huandengpian_2" class="area"></div><!--[/diy]-->	
			</div>
    		
            <div class="hdp_03_08">
  				<div class="hdp_03">
                	<!--[diy=huandengpian_3]--><div id="huandengpian_3" class="area"></div><!--[/diy]-->	
                </div>	
  				<div class="hdp_04">
                	<!--[diy=huandengpian_4]--><div id="huandengpian_4" class="area"></div><!--[/diy]-->	
                </div>
                <div class="hdp_05">
                	<!--[diy=huandengpian_5]--><div id="huandengpian_5" class="area"></div><!--[/diy]-->	
                </div>
                <div class="hdp_06">
                	<!--[diy=huandengpian_6]--><div id="huandengpian_6" class="area"></div><!--[/diy]-->
                </div>	
                <div class="hdp_07">
                	<!--[diy=huandengpian_7]--><div id="huandengpian_7" class="area"></div><!--[/diy]-->
                </div>
                <div class="hdp_08">
                	<!--[diy=huandengpian_8]--><div id="huandengpian_8" class="area"></div><!--[/diy]-->
                </div>				
			</div>
    		
    		<div class="hdp_09_14">
            	<div class="hdp_09_10">
                    <div class="hdp_09">
                        <!--[diy=huandengpian_9]--><div id="huandengpian_9" class="area"></div><!--[/diy]-->
                    </div>	
                    <div class="hdp_10">
                        <!--[diy=huandengpian_10]--><div id="huandengpian_10" class="area"></div><!--[/diy]-->
                    </div>
                </div>
                <div class="hdp_11_12">
                    <div class="hdp_11">
                        <!--[diy=huandengpian_11]--><div id="huandengpian_11" class="area"></div><!--[/diy]-->
                    </div>
    				<div class="hdp_12">
                        <!--[diy=huandengpian_12]--><div id="huandengpian_12" class="area"></div><!--[/diy]-->
                    </div>
    			</div>
                <div class="hdp_13_14">
                    <div class="hdp_13">
                        <!--[diy=huandengpian_13]--><div id="huandengpian_13" class="area"></div><!--[/diy]-->
                    </div>
                    <div class="hdp_14">
                        <!--[diy=huandengpian_14]--><div id="huandengpian_14" class="area"></div><!--[/diy]-->
                    </div>
                </div>
    		</div>	
    	</div>
    
    	<div class="NO2_moduble_right"><!--第二板块右侧-->
    		<div class="bbs_jingpin"><!--论坛精品-->
    			<div class="jingpin_title"></div>
            	<ul>
            		<li><p><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=768" target="_blank"></a></p></li>
                    <li><i><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=769" target="_blank"></a></i></li>
                    <li><em><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=770" target="_blank"></a></em></li>
                    <li><b><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=771" target="_blank"></a></b></li>
                    <li><span><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=772" target="_blank"></a></span></li>
                    <li><strong><a href="http://bbs.we54.com/bbs_cms/plus/list.php?tid=773" target="_blank"></a></strong></li>
           		</ul> 
            </div>
    
    		<div class="rt_paihang"><!--热帖排行-->
    			<div class="paihang_title"></div>
    			<div class="paihang_news">
            		<div class="rt_news_01">
            			<!--[diy=hotpaihang_h]--><div id="hotpaihang_h" class="area"></div><!--[/diy]-->
                    </div>
                	<ul>
                		<!--[diy=hotpaihang_a]--><div id="hotpaihang_a" class="area"></div><!--[/diy]-->
                	</ul>
                </div>
            </div>
    	</div>	
     </div> 
  
    <div class="NO3_moduble"><!--第三板块-->
 		<div class="NO3_moduble_left"><!--第三板块左侧-->
    		<div class="buxi_title"><p></p></div>
    		<div class="buxi_paoba">
    			<div class="paoba_news">
    				<!--[diy=buxipaobao_h]--><div id="buxipaobao_h" class="area"></div><!--[/diy]-->
                </div>
    			<ul class="paoba_huitie">
    				<div class="paobao_title"><!--[diy=buxipaobao_tit]--><div id="buxipaobao_tit" class="area"></div><!--[/diy]--></div>
                    <span>
                    	<!--[diy=buxipaobao_pl01]--><div id="buxipaobao_pl01" class="area"></div><!--[/diy]-->
                    </span>
                    <strong>
                    	<!--[diy=buxipaobao_pl02]--><div id="buxipaobao_pl02" class="area"></div><!--[/diy]-->
                    </strong>
                    <span>
                    	<!--[diy=buxipaobao_pl03]--><div id="buxipaobao_pl03" class="area"></div><!--[/diy]-->
                    </span>
                    <strong>
                    	<!--[diy=buxipaobao_pl04]--><div id="buxipaobao_pl04" class="area"></div><!--[/diy]-->
                    </strong>
    			</ul>
    		</div>
    
    		<div class="bbs_jinghua"><!--社区精华-->
    			<div class="jinghua_top">
            		<i></i>
            		<b><!--[diy=shequjinghua_h]--><div id="shequjinghua_h" class="area"></div><!--[/diy]--></b>
            	</div>
            	<ul>
            		<!--[diy=shequjinghua_a]--><div id="shequjinghua_a" class="area"></div><!--[/diy]-->
            	</ul>
            </div>
    	</div>
    
    	<div class="NO3_moduble_right"><!--第三板块右侧-->
    		<div class="house_title"></div>
    		<div class="house_zt"><!--[diy=maifang_h]--><div id="maifang_h" class="area"></div><!--[/diy]--></div>
    		<ul class="house_news">
                <!--[diy=maifang_tiezi]--><div id="maifang_tiezi" class="area"></div><!--[/diy]-->
            </ul>
    	</div>
    </div>	
    
    <div class="NO4_moduble"><!--第四板块-->
    	<div class="NO4_moduble_left"><!--第四板块左侧-->
    		<div class="car_title"><p></p></div>
    		<ul class="car_left">
    			<!--[diy=tanche_pic]--><div id="tanche_pic" class="area"></div><!--[/diy]-->
    		</ul>
    		
            <div class="car_midle">
            	<dl>
                    <!--[diy=tanche_h]--><div id="tanche_h" class="area"></div><!--[/diy]-->
                </dl>
            	<ul>
                    <!--[diy=tanche_n]--><div id="tanche_n" class="area"></div><!--[/diy]-->
                </ul>
            </div>
    		
    		<div class="car_right">
    			<div class="car_right_title">车友会</div>
                <div class="car_xiaotu">
                    <!--[diy=cheyouhui_h]--><div id="cheyouhui_h" class="area"></div><!--[/diy]-->
                </div>
            	<ul>
                    <!--[diy=cheyouhui_n]--><div id="cheyouhui_n" class="area"></div><!--[/diy]-->
                </ul>
            </div>
   		</div> 
    
    	<div class="NO4_moduble_right"><!--第四板块右侧-->
    		<div class="pinpai_title"></div>
    		<ul class="pinpai_tip">
    			<!--[diy=pinpai4s_h]--><div id="pinpai4s_h" class="area"></div><!--[/diy]-->
    		</ul>
    		<ul class="pinpai_news">
                <!--[diy=pinpai4s_n]--><div id="pinpai4s_n" class="area"></div><!--[/diy]-->
            </ul>
    	</div>
    </div> 
    
    <div class="NO5_moduble"><!--第五板块-->
    	<div class="NO5_moduble_left"><!--第五板块左侧-->
    		<div class="women_title"><p></p></div>
    		<ul class="women_pic">
    			<li class="wopic01"><!--[diy=women_wopic01]--><div id="women_wopic01" class="area"></div><!--[/diy]--></li>
    			<li class="wopic02"><!--[diy=women_wopic02]--><div id="women_wopic02" class="area"></div><!--[/diy]--></li>
    			<li class="wopic03"><!--[diy=women_wopic03]--><div id="women_wopic03" class="area"></div><!--[/diy]--></li>
    			<li class="wopic04"><!--[diy=women_wopic04]--><div id="women_wopic04" class="area"></div><!--[/diy]--></li>
    			<li class="wopic05"><!--[diy=women_wopic05]--><div id="women_wopic05" class="area"></div><!--[/diy]--></li>
    			<li class="wopic06"><!--[diy=women_wopic06]--><div id="women_wopic06" class="area"></div><!--[/diy]--></li>
    		</ul>
    		<ul class="women_news">
    			<!--[diy=women_pic_n]--><div id="women_pic_n" class="area"></div><!--[/diy]-->
            </ul>
    	</div>
    
    	<div class="NO5_moduble_right"><!--第五板块右侧-->
    		<div class="chuncui_title"></div>
    		<ul class="chuncui_tip">
    			<!--[diy=chuicui_h]--><div id="chuicui_h" class="area"></div><!--[/diy]-->
    		</ul>
    		<ul class="chuncui_news">
                <!--[diy=chuicui_n]--><div id="chuicui_n" class="area"></div><!--[/diy]-->
            </ul>
    	</div>
    </div> 
    
    <div class="NO6_moduble"><!--第六板块-->
    	<div class="NO6_moduble_left"><!--第六板块左侧-->
    		<div class="fantong_dl"><!--饭桶大连-->
    			<div class="fantong_title"><p></p></div>
    			<ul class="fantong_pic">
                    <!--[diy=fantong_h]--><div id="fantong_h" class="area"></div><!--[/diy]-->
    			</ul>
    			
                <ul class="fantong_news">
                    <!--[diy=fantong_n]--><div id="fantong_n" class="area"></div><!--[/diy]-->
                </ul>
    		</div>
    
    		<div class="relian_qc"><!--全城热恋-->
    			<div class="relian_title"><p></p></div>
    			<ul>
                    <!--[diy=relian_h]--><div id="relian_h" class="area"></div><!--[/diy]-->
                </ul>
            </div>
    
    		<div class="movie_sg"><!--时光影院-->
    			<div class="movie_title"><p></p><!--[diy=dianying_h]--><div id="dianying_h" class="area"></div><!--[/diy]--></div>
            	<ul>
            		<!--[diy=dianying_n]--><div id="dianying_n" class="area"></div><!--[/diy]-->
            	</ul>
            </div>
 		</div>   
    
    	<div class="NO6_moduble_right"><!--第六板块右侧-->
            <div class="club_title"><p></p></div>
            <dl>
                <!--[diy=relian_hh]--><div id="relian_hh" class="area"></div><!--[/diy]-->
            </dl>
            <ul>
    			<!--[diy=relian_n]--><div id="relian_n" class="area"></div><!--[/diy]-->
    		</ul>		
    	</div>
    </div> 
    
    <div class="NO7_moduble"><!--第七板块-->
   		<div class="map_title"><p></p></div> 
    	<ul>
    		<li>
    			<span>
                	<a href="/forum-743-1.html" target="_blank">大连你好</a>
                	<div class="24ph_01">(24时新帖：$forum_all[743][todayposts])</div>
                </span>
        		<div class="map_01"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-743-1.html" target="_blank">大连你好</a></p>
                	<p>2F:<a href="/forum-927-1.html" target="_blank">江湖救急</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-900-1.html" target="_blank">不惜泡吧</a>
                	<div class="24ph_01">(24时新帖：$forum_all[900][todayposts])</div>
                </span>
        		<div class="map_02"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-900-1.html" target="_blank">不惜泡吧</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-269-1.html" target="_blank">偶秀偶拍</a>
                	<div class="24ph_01">(24时新帖：$forum_all[269][todayposts])</div>
                </span>
        		<div class="map_03"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-269-1.html" target="_blank">偶秀偶拍</a></p>
                    <p>2F:<a href="/forum-949-1.html" target="_blank">美达贴吧</a></p>
                    <p>3F:<a href="/forum-739-1.html" target="_blank">新青年摄影</a></p>
                    <p>4F:<a href="/forum-933-1.html" target="_blank">贴图专区</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-747-1.html" target="_blank">纯粹女人</a>
                	<div class="24ph_01">(24时新帖：$forum_all[747][todayposts])</div>
                </span>
        		<div class="map_04"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-747-1.html" target="_blank">纯粹女人</a></p>
                </div>
    		</li>	
       		<li>
    			<span>
                	<a href="/forum-974-1.html" target="_blank">妈妈团</a>
                	<div class="24ph_01">(24时新帖：$forum_all[974][todayposts])</div>
                </span>
        		<div class="map_05"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-974-1.html" target="_blank">准妈妈私塾</a></p>
                    <p>2F:<a href="/forum-762-1.html" target="_blank">加油宝贝</a></p>
                    <p>3F:<a href="/forum-990-1.html" target="_blank">幼儿教育</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-992-1.html" target="_blank">法律咨询</a>
                	<div class="24ph_01">(24时新帖：$forum_all[992][todayposts])</div>
                </span>
        		<div class="map_06"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-992-1.html" target="_blank">法律咨询</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-941-1.html" target="_blank">两性咨询</a>
                	<div class="24ph_01">(24时新帖：$forum_all[941][todayposts])</div>
                </span>
        		<div class="map_07"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-941-1.html" target="_blank">两性咨询</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-993-1.html" target="_blank">寻医问药</a>
                	<div class="24ph_01">(24时新帖：$forum_all[993][todayposts])</div>
                </span>
        		<div class="map_08"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-993-1.html" target="_blank">寻医问药</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-898-1.html" target="_blank">欢乐时光</a>
                	<div class="24ph_01">(24时新帖：$forum_all[898][todayposts])</div>
                </span>
        		<div class="map_09"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-898-1.html" target="_blank">欢乐时光</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-903-1.html" target="_blank">大连之恋</a>
                	<div class="24ph_01">(24时新帖：$forum_all[903][todayposts])</div>
                </span>
        		<div class="map_10"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-903-1.html" target="_blank">大连之恋</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-959-1.html" target="_blank">好片同享</a>
                	<div class="24ph_01">(24时新帖：$forum_all[959][todayposts])</div>
                </span>
        		<div class="map_11"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-959-1.html" target="_blank">好片同享</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-940-1.html" target="_blank">非常夜店</a>
                	<div class="24ph_01">(24时新帖：$forum_all[840][todayposts])</div>
                </span>
        		<div class="map_12"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-940-1.html" target="_blank">非常夜店</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-962-1.html" target="_blank">体坛风云</a>
                	<div class="24ph_01">(24时新帖：$forum_all[962][todayposts])</div>
                </span>
        		<div class="map_13"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-962-1.html" target="_blank">体坛风云</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-909-1.html" target="_blank">买房卖房</a>
                	<div class="24ph_01">(24时新帖：$forum_all[909][todayposts])</div>
                </span>
        		<div class="map_14"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-909-1.html" target="_blank">买房卖房</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-791-1.html" target="_blank">谈车论驾</a>
                	<div class="24ph_01">(24时新帖：$forum_all[791][todayposts])</div>
                </span>
        		<div class="map_15"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-791-1.html" target="_blank">谈车论驾</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-968-1.html" target="_blank">教育培训</a>
                	<div class="24ph_01">(24时新帖：$forum_all[968][todayposts])</div>
                </span>
        		<div class="map_16"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-968-1.html" target="_blank">教育培训</a></p>
                    <p>2F:<a href="/forum-995-1.html" target="_blank">出国留学</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-1000-1.html" target="_blank">婚纱写真</a>
                	<div class="24ph_01">(24时新帖：$forum_all[1000][todayposts])</div>
                </span>
        		<div class="map_17"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-1000-1.html" target="_blank">婚纱写真</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-964-1.html" target="_blank">君子爱财</a>
                	<div class="24ph_01">(24时新帖：$forum_all[964][todayposts])</div>
                </span>
        		<div class="map_18"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-964-1.html" target="_blank">君子爱财</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-966-1.html" target="_blank">人在旅途</a>
                	<div class="24ph_01">(24时新帖：$forum_all[966][todayposts])</div>
                </span>
        		<div class="map_19"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-966-1.html" target="_blank">人在旅途</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-931-1.html" target="_blank">饭统大连</a>
                	<div class="24ph_01">(24时新帖：$forum_all[931][todayposts])</div>
                </span>
        		<div class="map_20"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-931-1.html" target="_blank">饭统大连</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-970-1.html" target="_blank">新青年歌友会</a>
                	<div class="24ph_01">(24时新帖：$forum_all[970][todayposts])</div>
                </span>
        		<div class="map_21"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-970-1.html" target="_blank">新青年歌友会</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-921-1.html" target="_blank">五四宜家人</a>
                	<div class="24ph_01">(24时新帖：$forum_all[921][todayposts])</div>
                </span>
        		<div class="map_22"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-921-1.html" target="_blank">五四宜家人</a></p>
                </div>
    		</li>
    		<li>
    			<span>
                	<a href="/forum-705-1.html" target="_blank">淘宝大连街</a>
                	<div class="24ph_01">(24时新帖：$forum_all[705][todayposts])</div>
                </span>
        		<div class="map_23"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-705-1.html" target="_blank">新品街</a></p>
                    <p>2F:<a href="/forum-781-1.html" target="_blank">二手街</a></p>
                </div>
    		</li>
            <li>
    			<span>
                	<a href="/forum-973-1.html" target="_blank">官方版务</a>
                	<div class="24ph_01">(24时新帖：$forum_all[973][todayposts])</div>
                </span>
        		<div class="map_24"></div>
        		<div class="bankuai_nav">
    				<p>1F:<a href="/forum-973-1.html" target="_blank">官方声明</a></p>
                    <p>2F:<a href="/forum-326-1.html" target="_blank">投诉求助</a></p>
                    <p>3F:<a href="/forum-1001-1.html" target="_blank">斑竹申请</a></p>
                </div>
    		</li>

    	</ul>
        <div class="map_end_bg"></div>
    </div>
    
    <div class="youqing_lj"><!--友情链接-->
    	<div class="lj_title"><p></p></div>
    	<div class="lj_all">
    		<!--[diy=youqinglian]--><div id="youqinglian" class="area"></div><!--[/diy]-->
    	</div>
        <div class="lianjie_endbg"></div>
    </div>


<script src="misc.php?mod=diyhelp&action=get&type=index&diy=$_GET['diy']&r={echo random(4)}" type="text/javascript"></script>
<!--{subtemplate portal/footer}-->
