@charset "gb2312";
/* CSS Document */

body		{ background: url(../template/king/images/header_bg.jpg) repeat-x top; font-size:12px; font-family:"ו"; color:#262932;}


.z { width:125px; height:36px;}





































