@charset "gb2312";
/* CSS Document */

/*зЂВс*/
.register_box	{ width:100%; margin:0 auto; background:#FFF; border-top:1px solid #d9d9d9;}
.register { width:1000px; margin:0 auto; overflow:hidden; padding:0 0 100px 0;}
.register span					{ width:1000px; height:51px; margin:24px 0 0 0; display:inline; overflow:hidden; float:left;}
.register dl					{ width:860px; padding:31px 0 0 140px; overflow:hidden; float:left;}
.register_01					{ background:url(../images/register_01_bg.png) no-repeat 71px 62px;}
.register_02					{ background:url(../images/register_02_bg.png) no-repeat 121px 77px;}
.register dl dt					{ width:850px; height:30px; padding:31px 0 0 0; overflow:hidden; float:left;}
.register dl dt label			{ width:129px; height:26px; padding:4px 6px 0 0; text-align:right; font-size:14px; overflow:hidden; float:left;}
.register dl dt input			{ width:252px; height:14px; padding:7px 3px; background:#FFF; border:1px solid #c4c4c4; font-size:12px; overflow:hidden; float:left;}
.register dl dt em				{ width:429px; height:23px; padding:7px 0 0 11px; color:#b2b2b2; overflow:hidden; float:left;}
.register dl dt em img			{ float:left;}
.register dl dt em i			{ margin:0 0 0 8px; display:inline; line-height:15px; float:left;}
.register dl dt u				{ font-size:14px; color:#ff0000;}
.register dl dt button			{ width:86px; height:30px; margin:0 0 0 11px; display:inline; background:url(../images/register_btn.png) no-repeat 0 -32px; cursor:pointer; overflow:hidden; float:left;}
.register_no					{ color:#ff0000;}
.register_yes					{ color:#11be22;}
.register dl dt .input_on		{ border:#78c7ff 1px solid;}
.register dl dt .register_check	{ width:173px;}
.register dl dd					{ width:715px; height:57px; padding:15px 0 0 135px; overflow:hidden; float:left;}
.register dl dd img				{ float:left;}
.register dl dd em a			{ margin:40px 0 0 4px; display:inline; color:#0078b6; float:left;}
.register b						{ width:715px; height:32px; padding:39px 0 0 275px; overflow:hidden; float:left;}
.register b button				{ width:160px; height:32px; background:url(../images/register_btn.png) no-repeat; cursor:pointer; overflow:hidden; float:left;}
.register b a					{ width:160px; height:32px; margin:0 0 0 14px; display:inline; background:url(../images/register_btn.png) no-repeat 0 -62px; overflow:hidden; float:left;}
.register ol					{ width:737px; height:210px; padding:305px 0 0 263px; background:url(../images/register_03_bg.png) no-repeat 307px 53px; overflow:hidden; float:left;}
.register ol li					{ width:144px; height:210px; padding:0 32px 0 35px; overflow:hidden; float:left;}
.register ol li a				{ width:100px; height:33px; margin:0 0 0 22px; display:inline; overflow:hidden; float:left;}
.register ol li em				{ width:144px; height:160px; padding:17px 0 0 0; color:#666666; line-height:20px; overflow:hidden; float:left;}