@charset "gb2312";
/* CSS Document */
label		{cursor:auto;}
tt			{color:red;margin-right:6px;}
.login_header em				{padding:0;}
/*短信认证*/
.register_box					{background:url(../images/bg.jpg) white no-repeat bottom center;height:726px;}
.register dl dt.mobile_msg		{width:450px;height:42px;padding:0;}
.register dl dt.mobile_msg kbd	{margin-left:125px;width:266px;}
.register dl dt.mobile_ex		{padding-left:140px;width:350px;height:65px;} 
.register dl dt.mobile_ex tt	{color:#999;font-size:14px;font-weight:bolder;}
.register dl dt.mobile_ex img	{margin:10px 0 0 0;}
.register dl dt button.pn		{vertical-align:middle;overflow:hidden;padding:0;width:170px;_width:168px;border:1px solid #b3b3b3;background:#E5E5E5 url(../images/btn_bg.png) repeat-x 0 0;cursor:pointer;-moz-box-shadow:0 1px 0 #E5E5E5;-webkit-box-shadow:0 1px 0 #E5E5E5;box-shadow:0 1px 0 #E5E5E5;padding:0;margin:0;}
#myauth							{float:left;margin-top:-30px;margin-left:400px;}
#myauth p						{float:left;}
/*说明文档*/
.vertify_help					{background:url(../images/v_help.png) no-repeat;width:290px;height:160px; margin-top:-350px; margin-left:712px;_margin-left:356px;float:left;}
.vertify_help b					{width:245px;height:155px;color:#666;font-weight:normal;margin:20px 22px 28px 26px;padding:0;line-height:30px;text-indent:22px;}
.p_chk							{color:#b2b2b2;font-weight:normal;}
.r								{color:red;}