@charset "gb2312";
/* CSS Document */

/*通用样式*/
*			{ margin:0; padding:0; border:0;}
body		{ background: url(/template/we54/por_images/header_bg.jpg) #fff repeat-x top !important; font-size:12px; font-family:"宋体"; color:#000;}
a           { text-decoration:none; }
a:hover     { text-decoration:underline;}
.wp         { width:1000px;}
#ct, .n, .w { padding-top:0;}
.area       { padding:0;}
#toptb { background:none; border-bottom:none; margin:auto; width:1000px;}
#toptb a { padding:0; }
#hd  { margin-top:0;}

.zx_nav_bg01,
.zx_nav_bg02,
.zx_nav_bg03,
.zx_nav_bg04  { background:url(/template/we54/por_images/all_bg.jpg) no-repeat;}


/*整体*/
.box		{ width:1000px; margin:0 auto; position:relative;}

.top_header { width:1000px; height:36px; overflow:hidden;  }
.zzz { width:184px; height:36px; float:left; overflow:hidden;}
.dl_zc { line-height:40px; float:right; color:#666666; }
.dl_zc a { text-decoration:none; color:#0035a0; }
.nav 		{ width:90px; height:28px; float:right; cursor:pointer; position:relative; background:url(../images/xl_nav.jpg) no-repeat; margin-left:15px; margin-top:8px; display:inline; z-index:999; }
.nav:hover { background:url(../images/xl_nav02.jpg) no-repeat;}
#um{ padding:6px 0 0 0;}
#um a{ color:#0035a0;}


.person_name { width:1000px; height:81px; background:url(../images/home_top_banner.jpg) no-repeat; margin:auto;}
.person_name span { line-height:80px; font-size:20px; padding-left:15px;}
/*顶部主导航*/
.main_nav				 { width:316px; height:352px; padding:2px 2px 2px 2px; border-bottom:1px #dbdbdb solid; border-left:1px #dbdbdb solid; border-right:1px #dbdbdb solid; z-index:9999; background:#FFFFFF; display:none; position:absolute; top:28px; right:0; _right:-1px; float:left; overflow:hidden;}
	.zx_nav { width:316px; height:88px; background-color:#f7f7f7; overflow:hidden; float:left;}
	.zx_sec_nav { width:210px; height:65px; overflow:hidden; float:left; margin:23px 0 0 3px; display:inline;}
	.zx_sec_nav span { height:14px; margin-bottom:14px; padding:0 12px 0 12px; display:inline; overflow:hidden; float:left;}
	.main_nav a { color:#4d4d4d;}
	.main_nav a:hover { color:#FF0000;}
	.tyty { overflow:hidden; float:left;}

	.hd_nav { width:316px; height:88px; background-color:#fff; overflow:hidden; float:left;}
	.zx_sec_nav { width:215px; height:65px; overflow:hidden; float:left; margin:23px 0 0 3px; display:inline;}
	.zx_sec_nav span { height:20px; margin-bottom:8px; padding:0 12px 0 12px; display:inline; overflow:hidden; float:left;}


	.sq_nav { width:316px; height:88px; background-color:#fff; overflow:hidden; float:left;}
	.sq_sec_nav { width:248px; height:65px; overflow:hidden; float:left; margin:23px 0 0 6px; display:inline;}
	.sq_sec_nav span { height:20px; margin-bottom:8px; padding:0 7px 0 7px; display:inline; overflow:hidden; float:left;}

	.zx_nav_bg01 { width:62px; height:88px; background-position:-930px -243px; overflow:hidden; float:left;}
	.zx_nav_bg02 { width:62px; height:88px; background-position:-930px -331px; overflow:hidden; float:left;}
	.zx_nav_bg03 { width:62px; height:88px; background-position:-930px -419px; overflow:hidden; float:left;}
	.zx_nav_bg04 { width:62px; height:88px; background-position:-806px -462px; overflow:hidden; float:left;}





/*底部*/
.index_bottom	{ width:100%; height:99px; margin:0 auto; background:#f3f3f3 url(/template/we54/images/bottom_bg.gif) repeat-x; text-align:center;}
.index_bottom a				{ color:#666666;}
#ft							{ padding:30px 0 0 0; border:none; color:#666666; line-height:28px;}
#scrolltop					{ width:24px; height:88px; background:url(../../../static/image/common/kaiser_fanhuitop.png) no-repeat;}





