*{margin:0;padding:0;}
body{background: white url(/template/we54/images/home_top_bg.jpg) repeat-x top;}
#ct .kaiser_bm_h{background:none;border-bottom:2px solid #f1f1e3;padding:0 0 10px 0;}
#ct .kaiser_bm_h .mt{text-align:left;font-size:16px;padding:0;margin:0;display:block;}
#ct .kaiser_bm_h .mt_zh a{font-weight:normal;font-size:14px;color:#996633;font-family:"ËÎÌå";}
#ct .kaiser_bm_h .mt_zh b{color:black;}
#ct .zh_bm{}
.up_zh{background:url(../images/up_btn.png) no-repeat;width:90px;height:30px;text-align:center;margin-left:10px;}
.bm_h .a_zh{color:white;text-decoration:none;background:none;font-size:14px;font-weight:bold;padding-left:0;;margin:0;}
.bm_zh{padding:0;}
.alt_zh{}
.alt_zh li{width:372px;height:132px;border:1px solid #e2e2e2;padding:0;margin-left:20px;margin-bottom:20px;}
.alt_zh li.hov{width:370px;height:130px;background-color:#f1f1e3;border:2px solid #d6d1ad;}
.alt_zh .c{width:118px;height:118px;background:none;background-color:white;margin:0;border:1px solid #eeeeee;margin:6px 0 0 5px;float:left;}
.alt_zh .c a{width:118px;height:118px;padding:0;}
.alt_zh img{max-width:118px;max-height:118px;border:0;}
.ml p.ptn_zh{width:230px;margin-left:14px;text-align:left;float:left;}
.ml p.ptn_zh a{color:#996633;text-decoration:none;font-size:14px;font-weight:bold;}
.ml p.xg1_zh{width:230px;margin-left:14px;text-align:left;float:left;}
.ml p.xg1_zh a{color:#996633 !important;}
.mtt{margin-top:10px;}
.y_zh{width:692px;}
.tbmu_zh{padding:8px 0 8px 0;border-bottom:0;}
.tbmu_zh a{color:#333;}
.apl_zh{}
.apl_zh li{width:137px;height:171px;}
.apl_zh .picbg_zh{width:137px;height:137px;background:url(../images/pic_bg.png) no-repeat;padding:4px;text-align:center;}
.ml img{margin:0;border:0;_margin-left:-12px;}
.ml p{color:#666;}
.mtn_zh{width:50px;height:23px;margin-top:15px !important;}
.mtn_zh	a{float:left;}
.tfm_zh li{height:260px;}
.ml .tap_zh{height:76px;}
.pt_zh{width:127px;}
.pn_zh{background:url(../images/up_btn.png) no-repeat;width:90px;height:30px;-webkit-box-shadow:none;box-shadow:none;border:0;color:white;overflow:auto;}
.pn_zh:active{background-position:center center;}
.pn_zh strong{width:70px;display:block;}
.pn_mini_zh{background:url(../images/zybtn_bg.png) no-repeat;width:60px;height:30px;-webkit-box-shadow:none;box-shadow:none;color:white;border:0;}
.pn_mini_zh:active{background-position:center center;}
.pn_mini_zh strong{_width:40px;_display:block;}
.cp_zh{margin:8px 0 10px 0;}

/*ÉÏ´«*/
.uploadform_zh{width:502px;height:263px;overflow:auto;padding:4px 0 !important;}
.hm_zh{text-align:left;margin-bottom:15px;}
.uploadform_zh td{border-bottom:1px dotted #d4dcdf;}
.uploadform_zh td.td_zh{padding-left:14px;}
.flash_zh{}
.progressContainer_zh{background:none;border:0;margin:0;padding:0;}