#ct .kaiser_bm_h{background:none;border-bottom:2px solid #f1f1e3;padding:0 0 10px 0;}
#ct .kaiser_bm_h .mt{text-align:left;font-size:16px;padding:0;margin:0;}
.up_zh{background:url(../images/up_btn.png) no-repeat;width:90px;height:30px;text-align:center;margin-left:10px;}
.bm_h .a_zh{color:white;text-decoration:none;background:none;font-size:14px;font-weight:bold;padding-left:0;;margin:0;}
.bm_zh{padding:0;}
.alt_zh{}
.alt_zh li{width:372px;height:132px;border:1px solid #e2e2e2;padding:0;margin-left:20px;margin-bottom:20px;}
.alt_zh .c{width:118px;height:118px;background:none;margin:0;border:1px solid #eeeeee;margin:6px 0 0 5px;float:left;}
.alt_zh .c a{width:118px;height:118px;padding:0;}
.alt_zh img{max-width:118px;max-height:118px;border:0;}
.ml p.ptn_zh{width:230px;margin-left:14px;text-align:left;float:left;}
.ml p.ptn_zh a{color:#996633;text-decoration:none;font-size:14px;font-weight:bold;}
.ml p.xg1_zh{width:230px;margin-left:14px;text-align:left;float:left;}
.ml p.xg1_zh a{color:#996633 !important;}
.mtt{margin-top:10px;}