#ct .kaiser_bm_h { background:none; border-bottom:2px solid #f1f1e3; padding-left:0; padding-bottom:12px; }
#ct .kaiser_bm_h .mt { text-align:left;}
.bm_c { padding:0;}
.flw_ulist li { padding:10px 0 10px 80px;}
.xi2, .xi2 a, .xi3 a { font-weight:normal; color:#996600;}
.flw_btn_unfo { background:none; color:#996600;}
.flw_btn_unfo a { color:#000000;}
.flw_btn_fo, .flw_btn_unfo {text-indent:1px; background:none; margin-top:44px;}
.flw_btn_fo, .flw_btn_unfo a { color:#996600;}
.fasixin { float:right; overflow:hidden; margin-right:-38px;  margin-top:24px; font-size:12px; font-weight:normal;  color:#996600;}
.ptm { padding-top:0 !important; width:620px;}
.ptm i { width:175px; height:20px; float:left; overflow:hidden; }


























