
<!--{eval $_G[cookie][extstyle] = false;}-->
<!--{subtemplate common/header_common}-->
	<!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
		<link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
	<!--{/if}-->
	<!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
	<!--{if widthauto()}-->
		<link rel="stylesheet" id="css_widthauto" type="text/css" href="data/cache/style_{STYLEID}_widthauto.css?{VERHASH}" />
		<script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
	<!--{/if}-->
	<!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<!--{elseif $_G['basescript'] == 'portal'}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
		<script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
	<!--{/if}-->
	<!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
	<link rel="stylesheet" type="text/css" id="diy_common" href="data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{/if}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
	<script type="text/javascript" src="{$_G[setting][jspath]}logging.js?{VERHASH}"></script>
    <script src="template/we54/js/logging.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{$_G[setting][csspath]}data/cache/style_{STYLEID}_css_space.css?{VERHASH}" />
	<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}space/{if $space[theme]}$space[theme]{else}t1{/if}/style.css?{VERHASH}">
    <link rel="stylesheet" type="text/css" href="template/we54/home/space_header.css" />
    <script src="template/we54/js/jquery-1.4.2.js" type="text/javascript"></script>
    
    <script type="text/javascript">
	var jq = jQuery.noConflict(); 
    jq(document).ready(function(){
      
      jq("#ss, #show").hover(function(){
      jq(".main_nav").show();
      },function (){jq(".main_nav").hide();});
    
    });
    </script>
	<style id="diy_style">$space[spacecss]</style>
    <link rel="stylesheet" type="text/css" href="template/we54/home/space_thread_add.css">
    <link rel="stylesheet" type="text/css" href="{$_G[siteurl]}template/we54/common/kaiser_space.css" />
</head>

<body id="space" onkeydown="if(event.keyCode==27) return false;">
	<div id="append_parent"></div>
	<div id="ajaxwaitid"></div>

	<!--{if $space['self'] && $_GET['diy'] == 'yes' && $do == 'index' }-->
	<link rel="stylesheet" type="text/css" href="{$_G[setting][csspath]}data/cache/style_{STYLEID}_css_diy.css?{VERHASH}" />
	<!--{subtemplate home/space_diy}-->
	<!--{/if}-->

	<div id="toptb" class="cl">
			<div class="zzz">
                    <a href="./"><img src="/template/we54/images/bbs_logo.jpg" width="125" height="36" border="0"/></a>
                </div>
            
            	<div class="nav" id="show">
                    <div class="main_nav" id="ss"><!--顶部主导航-->
                        <div class="zx_nav">
                            <div class="zx_nav_bg01"></div>
                            <div class="zx_sec_nav">
                                <span><a href="http://news.we54.com/" target="_blank">资讯</a></span><div class="tyty">|</div><span><a href="http://news.we54.com/we54/dlnhzt/wq" target="_blank">专题</a></span><div class="tyty">|</div><span><a href="http://pic.we54.com/" target="_blank">图片</a></span><div class="tyty">|</div><span><a href="http://opinion.we54.com/" target="_blank">评论</a></span><span><a href="http://video.we54.com/" target="_blank">视频</a></span><div class="tyty">|</div><span><a href="http://news.we54.com/plus/list.php?tid=931" target="_blank">独家</a></span><div class="tyty">|</div><span><a href="http://video.we54.com/xqnsppd/pdylsp/index.html" target="_blank">娱乐</a></span><div class="tyty">|</div><span><a href="http://video.we54.com/xqnsppd/pdwshsp/index.html" target="_blank">访谈</a></span>
                            </div>
                        </div>
                        
                        <div class="hd_nav">
                            <div class="zx_nav_bg02"></div>
                            <div class="zx_sec_nav">
                                <span><a href="http://moda.we54.com/" target="_blank">美达</a></span><div class="tyty">|</div><span><a href="http://54class.we54.com/" target="_blank">五年四班</a></span><div class="tyty">|</div><span><a href="http://lichi.we54.com/" target="_blank">荔枝先生</a></span><span><a href="/forum-898-1.html" target="_blank">活动</a></span><div class="tyty">|</div><span><a href="http://news.we54.com/xqnsppd/pdwshsp/index.html" target="_blank">原创节目</a></span><div class="tyty">|</div><span><a href="http://pub.we54.com/" target="_blank">非常夜店</a></span>
                            </div>
                        </div>  
                        
                        <div class="zx_nav">
                            <div class="zx_nav_bg03"></div>
                            <div class="zx_sec_nav">
                                <span><a href="http://house.we54.com/" target="_blank">房产</a></span><div class="tyty">|</div><span><a href="http://licai.we54.com/" target="_blank">理财</a></span><div class="tyty">|</div><span><a href="http://auto.we54.com/" target="_blank">爱车</a></span><div class="tyty">|</div><span><a href="http://uni.we54.com/" target="_blank">高校</a></span><span><a href="http://eat.we54.com/" target="_blank">美食</a></span><div class="tyty">|</div><span><a href="http://edu.we54.com/" target="_blank">教育</a></span><div class="tyty">|</div><span><a href="http://travel.we54.com" target="_blank">旅游</a></span><div class="tyty">|</div><span><a href="http://baby.we54.com/" target="_blank">早教</a></span>
                            </div>
                        </div> 
                        
                        <div class="sq_nav">
                            <div class="zx_nav_bg04"></div>
                            <div class="sq_sec_nav">
                                <span><a href="http://bbs.we54.com/" target="_blank">社区</a></span><div class="tyty">|</div><span><a href="/forum-743-1.html" target="_blank">大连你好</a></span><div class="tyty">|</div><span><a href="/forum-900-1.html" target="_blank">不惜泡吧</a></span><div class="tyty">|</div><span><a href="/forum-269-1.html" target="_blank">偶秀偶拍</a></span><span><a href="http://bbs.we54.com/bbs_cms/a/luntan/ltjh/index.html" target="_blank">精华</a></span><div class="tyty">|</div><span><a href="/forum-747-1.html" target="_blank">纯粹女人</a></span><div class="tyty">|</div><span><a href="/forum-974-1.html" target="_blank">亲亲宝贝</a></span><div class="tyty">|</div><span><a href="/forum-960-1.html" target="_blank">视频社区</a></span>
                            </div>
                        </div>  
                    </div>
                </div>
            	<form method="post" autocomplete="off" id="lsform" action="member.php?mod=logging&action=login&loginsubmit=yes&infloat=yes&lssubmit=yes" onSubmit="{if $_G['setting']['pwdsafety']}pwmd5('ls_password');{/if}return lsSubmit();">
                <!--{if $_G['uid']}-->
                <div id="um" style=" font-family:'宋体'; float:right;">
                    <p>
                        <strong class="vwmy{if $_G['setting']['connect']['allow'] && $_G[member][conisbind]} qq{/if}"><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}">{$_G[member][username]}</a></strong>
                        <!--{if $_G['group']['allowinvisible']}-->
                        <span id="loginstatus">
                            <a id="loginstatusid" href="member.php?mod=switchstatus" title="{lang login_switch_invisible_mode}" onClick="ajaxget(this.href, 'loginstatus');return false;" class="xi2"></a>
                        </span>
                        <!--{/if}-->
                        <!--{hook/global_usernav_extra1}-->
                        <span class="pipe">|</span><!--{hook/global_usernav_extra4}--><a href="home.php?mod=spacecp">{lang setup}</a>
                        <span class="pipe">|</span><a href="home.php?mod=space&do=pm" id="pm_ntc"{if $_G[member][newpm]} class="new"{/if}>{lang pm_center}</a>
                        <span class="pipe">|</span><a href="home.php?mod=space&do=notice" id="myprompt"{if $_G[member][newprompt]} class="new"{/if}>{lang remind}<!--{if $_G[member][newprompt]}-->($_G[member][newprompt])<!--{/if}--></a><span id="myprompt_check"></span>
                        <!--{if $_G['setting']['taskon'] && !empty($_G['cookie']['taskdoing_'.$_G['uid']])}--><span class="pipe">|</span><a href="home.php?mod=task&item=doing" id="task_ntc" class="new">{lang task_doing}</a><!--{/if}-->
                        <!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
                            <span class="pipe">|</span><a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
                        <!--{/if}-->
                        <!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
                            <span class="pipe">|</span><a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
                        <!--{/if}-->
                        <!--{hook/global_usernav_extra2}-->
                        <span class="pipe">|</span><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
                    </p>
                </div>
                <!--{elseif !$_G[connectguest]}-->
                <div class="dl_zc">
                    您好！欢迎来到新青年网站论坛 请 <a href="member.php?mod=logging&action=login" class="xi2">[登录]</a> 或 <a href="member.php?mod={$_G[setting][regname]}" class="xi2 xw1" style="font-weight:normal;">[免费注册]</a>
                </div>
                <div class="qq_img" style=" float:right; margin-right:10px; margin-top:5px;"><a href="/connect.php?mod=login&op=init&referer=forum.php&statfrom=login_simple" target="_blank"><img src="/static/image/common/qq_login.gif" border="0"/></a></div>
                <!--{/if}-->
                </form>
                <div class="y kaiser_y" style=" margin-top:8px; margin-right:10px;">
                    <!--{hook/global_cpnav_extra2}-->
                    <!--{loop $_G['setting']['topnavs'][1] $nav}-->
                        <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->$nav[code]<!--{/if}-->
                    <!--{/loop}-->
                    <!--{if empty($_G['disabledwidthauto']) && $_G['setting']['switchwidthauto']}-->
                        <a href="javascript:;" onClick="widthauto(this)"><!--{if widthauto()}-->{lang switch_narrow}<!--{else}-->{lang switch_wide}<!--{/if}--></a>
                    <!--{/if}-->
                    <!--{if $_G['uid'] && !empty($_G['style']['extstyle'])}--><a id="sslct" href="javascript:;" onMouseOver="delayShow(this, function() {showMenu({'ctrlid':'sslct','pos':'34!'})});">{lang changestyle}</a><!--{/if}-->
                    <!--{if check_diy_perm($topic)}-->
                        $diynav
                    <!--{/if}-->
                </div>
	</div>
	<!--{if $space['status'] == -1 && $_G['adminid'] == 1 }-->
		<p class="ptw xw1 xi1 hm"><img src="{IMGDIR}/locked.gif" alt="Locked" class="vm" /> {lang message_banned}</p>
	<!--{/if}-->
	<div id="hd" class="wp cl" style=" display:none;">

		<h2 id="spaceinfoshow" >
			<!--{eval space_merge($space, 'field_home'); $space[domainurl] = space_domain($space);getuserdiydata($space);$personalnv = isset($_G['blockposition']['nv']) ? $_G['blockposition']['nv'] : '';}-->
			<strong id="spacename" class="mbn">
				<!--{if $space[spacename]}-->$space[spacename]<!--{else}-->$space[username]{lang somebody_space}<!--{/if}-->
			</strong>
			<span class="xs0 xw0">
				<a id="domainurl" href="$space[domainurl]" onClick="setCopy('$space[domainurl]', '{lang copy_space_address}');return false;">$space[domainurl]</a>
				<a href="javascript:;" onClick="addFavorite(location.href, document.title)">[{lang favorite}]</a>
				<a id="domainurl" href="$space[domainurl]" onClick="setCopy('$space[domainurl]', '{lang copy_space_address}');return false;">[{lang copy}]</a>
				<!--{if !$space['self']}-->
					<!--{if helper_access::check_module('share')}-->
					<a id="share_space" href="home.php?mod=spacecp&ac=share&type=space&id=$space[uid]" onClick="showWindow(this.id, this.href, 'get', 0);">[{lang share}]</a>
					<!--{/if}-->
					<a href="home.php?mod=rss&uid=$space[uid]">[RSS]</a>
				<!--{/if}-->
			</span>
			<span id="spacedescription" class="xs1 xw0 mtn">$space[spacedescription]</span>
		</h2>
		<!--{subtemplate home/space_header_personalnv}-->
	</div>

	<!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
		<ul class="p_pop h_pop" id="plugin_menu" style="display: none">
		<!--{loop $_G['setting']['plugins']['jsmenu'] $module}-->
		     <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
		     <li>$module[url]</li>
		     <!--{/if}-->
		<!--{/loop}-->
		</ul>
	<!--{/if}-->
	$_G[setting][menunavs]

<!--{eval $mnid = getcurrentnav();}-->
<ul id="navs_menu" class="p_pop topnav_pop" style="display:none;">
<!--{loop $_G['setting']['navs'] $nav}-->
	<!--{eval $nav_showmenu = strpos($nav['nav'], 'onmouseover="showMenu(');}-->
    <!--{eval $nav_navshow = strpos($nav['nav'], 'onmouseover="navShow(')}-->
    <!--{if $nav_hidden !== false || $nav_navshow !== false}-->
	<!--{eval $nav['nav'] = preg_replace("/onmouseover\=\"(.*?)\"/i", '',$nav['nav'])}-->
    <!--{/if}-->
    <!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}--><li {$nav[nav]}></li><!--{/if}-->
<!--{/loop}-->
</ul>
<ul id="myspace_menu" class="p_pop" style="display:none;">
    <li><a href="home.php?mod=space">{lang my_space}</a></li>
	<!--{loop $_G['setting']['mynavs'] $nav}-->
		<!--{if $nav['available'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1))}-->
			<li>$nav[code]</li>
		<!--{/if}-->
	<!--{/loop}-->
</ul>


<div class="person_name">
	<span>$space['username']的空间($spacecp['field1'])</span>
</div>