.ct2_a .mn { width:811px;}
.tb .o  { float:right; height:30px; width:74px; border:none; margin-bottom:4px;}
.tb .o, .tb .o a { background: url(/template/we54/images/xiesixin.jpg) no-repeat; }
.tb .o a { border:none; padding:0; height:30px; margin-top:0; }
.kaiser_tb_cl li { margin-top:9px}
.kaiser_tb_cl	{ background:url(/template/we54/images/kaiser_data_nav_line.gif) repeat-x left 37px; border-bottom:none;}
.tbms { background:none #f4f4f4; border:none; padding-left:15px;}
.pm_op { padding-left:16px;}
.mbm { margin-bottom:8px !important;}
.mtm { margin-top:0px !important;}
.pn { width:69px;  *width:69px !important; height:22px; background: url(/template/we54/images/shanchu.jpg) no-repeat; border:none; text-align:center; box-shadow:0 0 0 #292929; margin-right:6px; *margin-right:10px !important;}
.pn strong { font-weight:normal; }
.pml .newpm { background: none repeat scroll 0 0 #f6f6e0;}
.bbda { border-bottom:1px solid #e1dbbd;}
.cur1 { background: none repeat scroll 0 0 #fffdf4;}
.pml .hover { background-color:#f6f6e0;}
.avt img { width:51px; height:51px; border:none; padding:0;}
.brs, .avt img, .oshr { border-radius:0 0 0 0;}
.xlda .m { margin:5px 0 4px -40px;  *margin-left:-65px !important; }
.xi2, .xi2 a, .xi3 a { color:#000000;}
.pml .newpm .newpm_avt { background: url(/template/we54/images/xinfeng.jpg) no-repeat; margin:20px 0 0 7px; *margin-left:-12px !important; *margin-top:23px !important;}
.avt img { margin-left:35px; *margin-left:55px !important;}
.pm_c { padding-left:10px; *padding-left:10px !important ;}
.xlda dd a { color:#996633;}
.pm_o .o { background: url(/template/we54/images/xiala.jpg) no-repeat; }
.pm_o { margin-right:-20px; width:60px; }
.pml dl { padding-left:75px; padding-right:20px; *padding-right:20px !important;}
.p_pop, .p_pof, .sllt { background: none repeat scroll 0 0 #f26c4f; border:0; box-shadow:0 0 0 0; min-width: 60px; padding: 4px;}
.ie6 .p_pop { width: 60px;}
.p_pop a { border:0; }
.p_pop li a { color:#FFFFFF;}
.p_pop li a:hover { color:#FFFFFF; background-color:#f08770;}
.p_pop li { text-align:center; *text-align:center !important ;}






















