<style>
body{ background:#FFFFFF url(/template/we54/images/home_top_bg.jpg) repeat-x top;}
.pre_shouw{ margin:6px 0 0 11px; display:inline; line-height:30px;}
.web_left .pre_shouw b			{ width:16px; height:16px; overflow:hidden; float:left; margin:9px 8px 0 13px; display:inline;}
.web_left .pre_shouw a			{ color:#996633; font-size:14px;}
.bod{ overflow:hidden;}
</style>
<div id="ct" class="ct2_a wp cl kaiser_spacecp_ct2_a_wp_cl">
	<div class="mn kaiser_spacecp_mn">
		<div class="bm bw0">
			<h1 class="mt"><!--{subtemplate home/spacecp_header_name}--></h1>
<!--don't close the div here-->