@charset "gb2312";
/* CSS Document */

.web_left				{ width:139px; height:870px; overflow:hidden;}
.huiyuan				{ width:120px; border-bottom:1px dashed #d6d1ad; overflow:hidden; float:left; padding:7px 9px 10px 9px;background:none;}
.huiyuan_tx				{ width:120px; height:120px; overflow:hidden; float:left; margin-bottom:6px; display:inline;}
.huiyuan_rz				{ width:122px; height:32px; overflow:hidden; float:left; margin-bottom:6px; display:inline;}
.tz_zt_gz				{ width:117px; height:52px; overflow:hidden; float:left; margin-bottom:7px; display:inline; border:1px solid #e1dbbd; background-color:#fefef4; padding:6px 0 0 1px;}
.tz_zt_gz01				{ width:38px; height:46px; overflow:hidden; float:left; border-right:1px solid #e1dbbd; text-align:center;}
.tz_zt_gz i				{ width:38px; height:23px; overflow:hidden; float:left; font-weight:bold; font-size:14px; color:#ff6600; line-height:28px; }
.tz_zt_gz span			{ width:38px; height:23px; overflow:hidden; float:left; line-height:30px; color:#996633;}
.tz_zt_gz02				{ width:38px; height:46px; overflow:hidden; float:left; text-align:center;}
.sixin					{ width:63px; height:22px; overflow:hidden; float:left; background:url(../images/sixin.jpg) no-repeat; margin:0 0 6px 28px; display:inline; cursor:pointer;}
.sixin:hover			{ background:url(../images/sixin02.jpg) no-repeat;}	
.guanzhu				{ width:63px; height:22px; overflow:hidden; float:left; background:url(../images/guanzhu.jpg) no-repeat; margin:0 0 6px 28px; display:inline; cursor:pointer;}
.guanzhu:hover			{ background:url(../images/guanzhu02.jpg) no-repeat;}	
.yguanzhu				{ width:63px; height:22px; overflow:hidden; float:left; background:url(../images/kaiser_flw_no.png) no-repeat; margin:0 0 6px 28px; display:inline; cursor:pointer;}
.web_left ul			{ width:128px; height:230px; overflow:hidden; float:left; margin:6px 0 0 11px; display:inline;}
.web_left ul.ea			{ height:52px;margin-top:12px;margin-bottom:18px;}
.web_left li			{ width:128px; height:30px; line-height:30px; overflow:hidden; float:left; }
.pre_shouw				{ width:128px; height:30px;  background:url(../images/xinxi_bg.jpg) no-repeat; overflow:hidden; float:left; }
.web_left li b			{ width:16px; height:16px; overflow:hidden; float:left; margin:6px 8px 0 13px; display:inline;}
.web_left li a			{ color:#996633; font-size:14px;}
.bod					{ width:100%;height:1px;background:url(../images/border.png) no-repeat;margin-left:1px;float:left;}
.aset					{ width:128px; height:30px; line-height:30px; margin:6px 0 0 11px; overflow:hidden; float:left; }
.aset a					{ color:#996633; font-size:14px;}
.aset b					{ width:16px; height:16px; overflow:hidden; float:left; margin:8px 8px 0 13px; display:inline;}
.aset .btn				{ width:121px;height:30px; background:url(../images/suggest.png) no-repeat;cursor:pointer;}
.aset .btn:hover		{ background:url(../images/suggest_h.png) no-repeat;}

#frame1_left .block		{ margin:0 !important;border:0;}
#frame1_left .dxb_bc	{ padding:0;}