.nts dl  { border-bottom:1px solid #e1dbbd; cursor:pointer;}
.clOver { background-color:#f6f6e0;}
.nts { padding-left:0;}
.avt img { width:51px; height:51px; border:none; padding:0;}
.brs, .avt img, .oshr { border-radius:0}
.xld dt { float:right; width:150px; padding-top:25px;}
.xld a.b { background:none;}
.xld a.d, .xl a.d, .attc a.d, .c a.d, .sinf a.d { background:none; width:40px; line-height:18px; font-weight:normal; color:#996600; }
.xld dd { float:left; margin-top:25px; color:#000000;}
.xlda .avt img { *display:inline !important;}
.xlda .m { margin-bottom:5px; margin-top:5px; margin-left:-60px;}
.xlda dd a { color:#996600;}




































